<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>AEacute</key>
  <string>A_E_acute.glif</string>
  <key>AEmacron</key>
  <string>A_E_macron.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Abreve</key>
  <string>A_breve.glif</string>
  <key>Acaron</key>
  <string>A_caron.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adblgrave</key>
  <string>A_dblgrave.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Adieresismacron</key>
  <string>A_dieresismacron.glif</string>
  <key>Adotaccent</key>
  <string>A_dotaccent.glif</string>
  <key>Adotmacron</key>
  <string>A_dotmacron.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Ainvertedbreve</key>
  <string>A_invertedbreve.glif</string>
  <key>Amacron</key>
  <string>A_macron.glif</string>
  <key>Aogonek</key>
  <string>A_ogonek.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Aringacute</key>
  <string>A_ringacute.glif</string>
  <key>Astroke</key>
  <string>A_stroke.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>Bhook</key>
  <string>B_hook.glif</string>
  <key>Bsmall</key>
  <string>B_small.glif</string>
  <key>Bstroke</key>
  <string>B_stroke.glif</string>
  <key>Btopbar</key>
  <string>B_topbar.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Cacute</key>
  <string>C_acute.glif</string>
  <key>Ccaron</key>
  <string>C_caron.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Ccircumflex</key>
  <string>C_circumflex.glif</string>
  <key>Cdotaccent</key>
  <string>C_dotaccent.glif</string>
  <key>Chook</key>
  <string>C_hook.glif</string>
  <key>Cstretched</key>
  <string>C_stretched.glif</string>
  <key>Cstroke</key>
  <string>C_stroke.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>DZ</key>
  <string>D_Z_.glif</string>
  <key>DZcaron</key>
  <string>D_Z_caron.glif</string>
  <key>Dafrican</key>
  <string>D_african.glif</string>
  <key>Dcaron</key>
  <string>D_caron.glif</string>
  <key>Dcroat</key>
  <string>D_croat.glif</string>
  <key>Dhook</key>
  <string>D_hook.glif</string>
  <key>Dtopbar</key>
  <string>D_topbar.glif</string>
  <key>Dz</key>
  <string>D_z.glif</string>
  <key>Dzcaron</key>
  <string>D_zcaron.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ebreve</key>
  <string>E_breve.glif</string>
  <key>Ecaron</key>
  <string>E_caron.glif</string>
  <key>Ecedilla</key>
  <string>E_cedilla.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edblgrave</key>
  <string>E_dblgrave.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Edotaccent</key>
  <string>E_dotaccent.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Einvertedbreve</key>
  <string>E_invertedbreve.glif</string>
  <key>Emacron</key>
  <string>E_macron.glif</string>
  <key>Eng</key>
  <string>E_ng.glif</string>
  <key>Eogonek</key>
  <string>E_ogonek.glif</string>
  <key>Eopen</key>
  <string>E_open.glif</string>
  <key>Ereversed</key>
  <string>E_reversed.glif</string>
  <key>Esh</key>
  <string>E_sh.glif</string>
  <key>Estroke</key>
  <string>E_stroke.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Ezh</key>
  <string>E_zh.glif</string>
  <key>Ezhcaron</key>
  <string>E_zhcaron.glif</string>
  <key>Ezhreversed</key>
  <string>E_zhreversed.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>Fhook</key>
  <string>F_hook.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Gacute</key>
  <string>G_acute.glif</string>
  <key>Gamma-lt</key>
  <string>G_amma-lt.glif</string>
  <key>Gbreve</key>
  <string>G_breve.glif</string>
  <key>Gcaron</key>
  <string>G_caron.glif</string>
  <key>Gcircumflex</key>
  <string>G_circumflex.glif</string>
  <key>Gcommaaccent</key>
  <string>G_commaaccent.glif</string>
  <key>Gdotaccent</key>
  <string>G_dotaccent.glif</string>
  <key>Ghook</key>
  <string>G_hook.glif</string>
  <key>Ghooksmall</key>
  <string>G_hooksmall.glif</string>
  <key>Glottalstop</key>
  <string>G_lottalstop.glif</string>
  <key>Gsmall</key>
  <string>G_small.glif</string>
  <key>Gstroke</key>
  <string>G_stroke.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Hbar</key>
  <string>H_bar.glif</string>
  <key>Hcaron</key>
  <string>H_caron.glif</string>
  <key>Hcircumflex</key>
  <string>H_circumflex.glif</string>
  <key>Hsmall</key>
  <string>H_small.glif</string>
  <key>Hwair</key>
  <string>H_wair.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>IJ</key>
  <string>I_J_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Ibreve</key>
  <string>I_breve.glif</string>
  <key>Icaron</key>
  <string>I_caron.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idblgrave</key>
  <string>I_dblgrave.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Idotaccent</key>
  <string>I_dotaccent.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Iinvertedbreve</key>
  <string>I_invertedbreve.glif</string>
  <key>Imacron</key>
  <string>I_macron.glif</string>
  <key>Iogonek</key>
  <string>I_ogonek.glif</string>
  <key>Iotaafrican</key>
  <string>I_otaafrican.glif</string>
  <key>Ismall</key>
  <string>I_small.glif</string>
  <key>Istroke</key>
  <string>I_stroke.glif</string>
  <key>Itilde</key>
  <string>I_tilde.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>Jcircumflex</key>
  <string>J_circumflex.glif</string>
  <key>Jstroke</key>
  <string>J_stroke.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Kcaron</key>
  <string>K_caron.glif</string>
  <key>Kcommaaccent</key>
  <string>K_commaaccent.glif</string>
  <key>Khook</key>
  <string>K_hook.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>LJ</key>
  <string>L_J_.glif</string>
  <key>Lacute</key>
  <string>L_acute.glif</string>
  <key>Lbar</key>
  <string>L_bar.glif</string>
  <key>Lcaron</key>
  <string>L_caron.glif</string>
  <key>Lcommaaccent</key>
  <string>L_commaaccent.glif</string>
  <key>Ldot</key>
  <string>L_dot.glif</string>
  <key>Lj</key>
  <string>L_j.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>Lsmall</key>
  <string>L_small.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Mturned</key>
  <string>M_turned.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>NJ</key>
  <string>N_J_.glif</string>
  <key>Nacute</key>
  <string>N_acute.glif</string>
  <key>Ncaron</key>
  <string>N_caron.glif</string>
  <key>Ncommaaccent</key>
  <string>N_commaaccent.glif</string>
  <key>Ngrave</key>
  <string>N_grave.glif</string>
  <key>Nhookleft</key>
  <string>N_hookleft.glif</string>
  <key>Nj</key>
  <string>N_j.glif</string>
  <key>Nlongrightleg</key>
  <string>N_longrightleg.glif</string>
  <key>Nsmall</key>
  <string>N_small.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>OEsmall</key>
  <string>O_E_small.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Obar</key>
  <string>O_bar.glif</string>
  <key>Obreve</key>
  <string>O_breve.glif</string>
  <key>Ocaron</key>
  <string>O_caron.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odblgrave</key>
  <string>O_dblgrave.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Odieresismacron</key>
  <string>O_dieresismacron.glif</string>
  <key>Odotaccent</key>
  <string>O_dotaccent.glif</string>
  <key>Odotaccentmacron</key>
  <string>O_dotaccentmacron.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Ohorn</key>
  <string>O_horn.glif</string>
  <key>Ohungarumlaut</key>
  <string>O_hungarumlaut.glif</string>
  <key>Oi</key>
  <string>O_i.glif</string>
  <key>Oinvertedbreve</key>
  <string>O_invertedbreve.glif</string>
  <key>Omacron</key>
  <string>O_macron.glif</string>
  <key>Oogonek</key>
  <string>O_ogonek.glif</string>
  <key>Oogonekmacron</key>
  <string>O_ogonekmacron.glif</string>
  <key>Oopen</key>
  <string>O_open.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Oslashacute</key>
  <string>O_slashacute.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>Otildemacron</key>
  <string>O_tildemacron.glif</string>
  <key>Ou</key>
  <string>O_u.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Phook</key>
  <string>P_hook.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>Qsmallhooktail</key>
  <string>Q_smallhooktail.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Racute</key>
  <string>R_acute.glif</string>
  <key>Rcaron</key>
  <string>R_caron.glif</string>
  <key>Rcommaaccent</key>
  <string>R_commaaccent.glif</string>
  <key>Rdblgrave</key>
  <string>R_dblgrave.glif</string>
  <key>Rinvertedbreve</key>
  <string>R_invertedbreve.glif</string>
  <key>Rinvertedsmall</key>
  <string>R_invertedsmall.glif</string>
  <key>Rsmall</key>
  <string>R_small.glif</string>
  <key>Rstroke</key>
  <string>R_stroke.glif</string>
  <key>Rsupinvertedmod</key>
  <string>R_supinvertedmod.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Sacute</key>
  <string>S_acute.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>Scedilla</key>
  <string>S_cedilla.glif</string>
  <key>Schwa</key>
  <string>S_chwa.glif</string>
  <key>Scircumflex</key>
  <string>S_circumflex.glif</string>
  <key>Scommaaccent</key>
  <string>S_commaaccent.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tbar</key>
  <string>T_bar.glif</string>
  <key>Tcaron</key>
  <string>T_caron.glif</string>
  <key>Tcedilla</key>
  <string>T_cedilla.glif</string>
  <key>Tcommaaccent</key>
  <string>T_commaaccent.glif</string>
  <key>Tdiagonalstroke</key>
  <string>T_diagonalstroke.glif</string>
  <key>Thook</key>
  <string>T_hook.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>Tonefive</key>
  <string>T_onefive.glif</string>
  <key>Tonesix</key>
  <string>T_onesix.glif</string>
  <key>Tonetwo</key>
  <string>T_onetwo.glif</string>
  <key>Tretroflexhook</key>
  <string>T_retroflexhook.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ubar</key>
  <string>U_bar.glif</string>
  <key>Ubreve</key>
  <string>U_breve.glif</string>
  <key>Ucaron</key>
  <string>U_caron.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udblgrave</key>
  <string>U_dblgrave.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Udieresisacute</key>
  <string>U_dieresisacute.glif</string>
  <key>Udieresiscaron</key>
  <string>U_dieresiscaron.glif</string>
  <key>Udieresisgrave</key>
  <string>U_dieresisgrave.glif</string>
  <key>Udieresismacron</key>
  <string>U_dieresismacron.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>Uhorn</key>
  <string>U_horn.glif</string>
  <key>Uhungarumlaut</key>
  <string>U_hungarumlaut.glif</string>
  <key>Uinvertedbreve</key>
  <string>U_invertedbreve.glif</string>
  <key>Umacron</key>
  <string>U_macron.glif</string>
  <key>Uogonek</key>
  <string>U_ogonek.glif</string>
  <key>Upsilonafrican</key>
  <string>U_psilonafrican.glif</string>
  <key>Uring</key>
  <string>U_ring.glif</string>
  <key>Utilde</key>
  <string>U_tilde.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>Vhook</key>
  <string>V_hook.glif</string>
  <key>Vturned</key>
  <string>V_turned.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>Wcircumflex</key>
  <string>W_circumflex.glif</string>
  <key>Wynn</key>
  <string>W_ynn.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ycircumflex</key>
  <string>Y_circumflex.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Yhook</key>
  <string>Y_hook.glif</string>
  <key>Ymacron</key>
  <string>Y_macron.glif</string>
  <key>Yogh</key>
  <string>Y_ogh.glif</string>
  <key>Ysmall</key>
  <string>Y_small.glif</string>
  <key>Ystroke</key>
  <string>Y_stroke.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zacute</key>
  <string>Z_acute.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>Zdotaccent</key>
  <string>Z_dotaccent.glif</string>
  <key>Zhook</key>
  <string>Z_hook.glif</string>
  <key>Zstroke</key>
  <string>Z_stroke.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>acaron</key>
  <string>acaron.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acomb</key>
  <string>acomb.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutebelowcomb</key>
  <string>acutebelowcomb.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>acutedblmiddlemod</key>
  <string>acutedblmiddlemod.glif</string>
  <key>acutelowmod</key>
  <string>acutelowmod.glif</string>
  <key>acutemod</key>
  <string>acutemod.glif</string>
  <key>acutetonecomb</key>
  <string>acutetonecomb.glif</string>
  <key>adblgrave</key>
  <string>adblgrave.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>adieresismacron</key>
  <string>adieresismacron.glif</string>
  <key>adotaccent</key>
  <string>adotaccent.glif</string>
  <key>adotmacron</key>
  <string>adotmacron.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>aeacute</key>
  <string>aeacute.glif</string>
  <key>aemacron</key>
  <string>aemacron.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ainvertedbreve</key>
  <string>ainvertedbreve.glif</string>
  <key>almostequaltoabovecomb</key>
  <string>almostequaltoabovecomb.glif</string>
  <key>alpha-ipa</key>
  <string>alpha-ipa.glif</string>
  <key>alphaturned</key>
  <string>alphaturned.glif</string>
  <key>amacron</key>
  <string>amacron.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>apostrophedblmod</key>
  <string>apostrophedblmod.glif</string>
  <key>apostrophemod</key>
  <string>apostrophemod.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>aringacute</key>
  <string>aringacute.glif</string>
  <key>arrowdoublerightbelowcomb</key>
  <string>arrowdoublerightbelowcomb.glif</string>
  <key>arrowheaddownlowmod</key>
  <string>arrowheaddownlowmod.glif</string>
  <key>arrowheaddownmod</key>
  <string>arrowheaddownmod.glif</string>
  <key>arrowheadleftbelowcomb</key>
  <string>arrowheadleftbelowcomb.glif</string>
  <key>arrowheadleftlowmod</key>
  <string>arrowheadleftlowmod.glif</string>
  <key>arrowheadleftmod</key>
  <string>arrowheadleftmod.glif</string>
  <key>arrowheadrightabovecomb</key>
  <string>arrowheadrightabovecomb.glif</string>
  <key>arrowheadrightbelowcomb</key>
  <string>arrowheadrightbelowcomb.glif</string>
  <key>arrowheadrightheadupbelowcomb</key>
  <string>arrowheadrightheadupbelowcomb.glif</string>
  <key>arrowheadrightlowmod</key>
  <string>arrowheadrightlowmod.glif</string>
  <key>arrowheadrightmod</key>
  <string>arrowheadrightmod.glif</string>
  <key>arrowheaduplowmod</key>
  <string>arrowheaduplowmod.glif</string>
  <key>arrowheadupmod</key>
  <string>arrowheadupmod.glif</string>
  <key>arrowleftlowmod</key>
  <string>arrowleftlowmod.glif</string>
  <key>arrowleftrightbelowcomb</key>
  <string>arrowleftrightbelowcomb.glif</string>
  <key>arrowupbelowcomb</key>
  <string>arrowupbelowcomb.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>asteriskbelowcomb</key>
  <string>asteriskbelowcomb.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>aturned</key>
  <string>aturned.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>bhook</key>
  <string>bhook.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brevebelowcomb</key>
  <string>brevebelowcomb.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>breveinvertedbelowcomb</key>
  <string>breveinvertedbelowcomb.glif</string>
  <key>breveinvertedcomb</key>
  <string>breveinvertedcomb.glif</string>
  <key>breveinverteddoublecomb</key>
  <string>breveinverteddoublecomb.glif</string>
  <key>bridgebelowcomb</key>
  <string>bridgebelowcomb.glif</string>
  <key>bridgecomb</key>
  <string>bridgecomb.glif</string>
  <key>bridgeinvertedbelowcomb</key>
  <string>bridgeinvertedbelowcomb.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bstroke</key>
  <string>bstroke.glif</string>
  <key>btopbar</key>
  <string>btopbar.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>cacute</key>
  <string>cacute.glif</string>
  <key>candraBinducomb</key>
  <string>candraB_inducomb.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>caronbelowcomb</key>
  <string>caronbelowcomb.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>ccaron</key>
  <string>ccaron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>ccircumflex</key>
  <string>ccircumflex.glif</string>
  <key>ccomb</key>
  <string>ccomb.glif</string>
  <key>ccurl</key>
  <string>ccurl.glif</string>
  <key>cdotaccent</key>
  <string>cdotaccent.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>chook</key>
  <string>chook.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexbelowcomb</key>
  <string>circumflexbelowcomb.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>clickalveolar</key>
  <string>clickalveolar.glif</string>
  <key>clickbilabial</key>
  <string>clickbilabial.glif</string>
  <key>clickdental</key>
  <string>clickdental.glif</string>
  <key>clicklateral</key>
  <string>clicklateral.glif</string>
  <key>clickretroflex</key>
  <string>clickretroflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colonraisedmod</key>
  <string>colonraisedmod.glif</string>
  <key>colontriangularhalfmod</key>
  <string>colontriangularhalfmod.glif</string>
  <key>colontriangularmod</key>
  <string>colontriangularmod.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>commaabovecomb</key>
  <string>commaabovecomb.glif</string>
  <key>commaaboverightcomb</key>
  <string>commaaboverightcomb.glif</string>
  <key>commaaccentcomb</key>
  <string>commaaccentcomb.glif</string>
  <key>commareversedabovecomb</key>
  <string>commareversedabovecomb.glif</string>
  <key>commareversedmod</key>
  <string>commareversedmod.glif</string>
  <key>commaturnedabovecomb</key>
  <string>commaturnedabovecomb.glif</string>
  <key>commaturnedmod</key>
  <string>commaturnedmod.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>crossmod</key>
  <string>crossmod.glif</string>
  <key>cstroke</key>
  <string>cstroke.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dbdigraph</key>
  <string>dbdigraph.glif</string>
  <key>dblarchinvertedbelowcomb</key>
  <string>dblarchinvertedbelowcomb.glif</string>
  <key>dblgravecomb</key>
  <string>dblgravecomb.glif</string>
  <key>dbllowlinecomb</key>
  <string>dbllowlinecomb.glif</string>
  <key>dbloverlinecomb</key>
  <string>dbloverlinecomb.glif</string>
  <key>dblvlinebelowcomb</key>
  <string>dblvlinebelowcomb.glif</string>
  <key>dblvlinecomb</key>
  <string>dblvlinecomb.glif</string>
  <key>dcaron</key>
  <string>dcaron.glif</string>
  <key>dcomb</key>
  <string>dcomb.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>dcurl</key>
  <string>dcurl.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>deltaturned</key>
  <string>deltaturned.glif</string>
  <key>dezh</key>
  <string>dezh.glif</string>
  <key>dhook</key>
  <string>dhook.glif</string>
  <key>dialytikatonoscomb</key>
  <string>dialytikatonoscomb.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresisbelowcomb</key>
  <string>dieresisbelowcomb.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaboverightcomb</key>
  <string>dotaboverightcomb.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotaccentcomb</key>
  <string>dotaccentcomb.glif</string>
  <key>dotbelowcomb</key>
  <string>dotbelowcomb.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dotlessj</key>
  <string>dotlessj.glif</string>
  <key>dotlessjstroke</key>
  <string>dotlessjstroke.glif</string>
  <key>dotlessjstrokehook</key>
  <string>dotlessjstrokehook.glif</string>
  <key>doublebrevebelowcomb</key>
  <string>doublebrevebelowcomb.glif</string>
  <key>doublebrevecomb</key>
  <string>doublebrevecomb.glif</string>
  <key>doublemacronbelowcomb</key>
  <string>doublemacronbelowcomb.glif</string>
  <key>doublemacroncomb</key>
  <string>doublemacroncomb.glif</string>
  <key>doubleringbelowcomb</key>
  <string>doubleringbelowcomb.glif</string>
  <key>downtackbelowcomb</key>
  <string>downtackbelowcomb.glif</string>
  <key>dtail</key>
  <string>dtail.glif</string>
  <key>dtopbar</key>
  <string>dtopbar.glif</string>
  <key>dz</key>
  <string>dz.glif</string>
  <key>dzcaron</key>
  <string>dzcaron.glif</string>
  <key>dzed</key>
  <string>dzed.glif</string>
  <key>dzedcurl</key>
  <string>dzedcurl.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ebreve</key>
  <string>ebreve.glif</string>
  <key>ecaron</key>
  <string>ecaron.glif</string>
  <key>ecedilla</key>
  <string>ecedilla.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>ecomb</key>
  <string>ecomb.glif</string>
  <key>edblgrave</key>
  <string>edblgrave.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>edotaccent</key>
  <string>edotaccent.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>einvertedbreve</key>
  <string>einvertedbreve.glif</string>
  <key>emacron</key>
  <string>emacron.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>eogonek</key>
  <string>eogonek.glif</string>
  <key>eopen</key>
  <string>eopen.glif</string>
  <key>eopenclosed</key>
  <string>eopenclosed.glif</string>
  <key>eopenreversed</key>
  <string>eopenreversed.glif</string>
  <key>eopenreversedclosed</key>
  <string>eopenreversedclosed.glif</string>
  <key>eopenreversedhook</key>
  <string>eopenreversedhook.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>equalbelowcomb</key>
  <string>equalbelowcomb.glif</string>
  <key>ereversed-ipa</key>
  <string>ereversed-ipa.glif</string>
  <key>esh</key>
  <string>esh.glif</string>
  <key>eshcurl</key>
  <string>eshcurl.glif</string>
  <key>eshreversedloop</key>
  <string>eshreversedloop.glif</string>
  <key>eshsquatreversed</key>
  <string>eshsquatreversed.glif</string>
  <key>estroke</key>
  <string>estroke.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>eturned</key>
  <string>eturned.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>ezh</key>
  <string>ezh.glif</string>
  <key>ezhcaron</key>
  <string>ezhcaron.glif</string>
  <key>ezhcurl</key>
  <string>ezhcurl.glif</string>
  <key>ezhreversed</key>
  <string>ezhreversed.glif</string>
  <key>ezhtail</key>
  <string>ezhtail.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>feng</key>
  <string>feng.glif</string>
  <key>fermatacomb</key>
  <string>fermatacomb.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gacute</key>
  <string>gacute.glif</string>
  <key>gamma-ipa</key>
  <string>gamma-ipa.glif</string>
  <key>gammasupmod</key>
  <string>gammasupmod.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>gcaron</key>
  <string>gcaron.glif</string>
  <key>gcircumflex</key>
  <string>gcircumflex.glif</string>
  <key>gcommaaccent</key>
  <string>gcommaaccent.glif</string>
  <key>gdotaccent</key>
  <string>gdotaccent.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>ghook</key>
  <string>ghook.glif</string>
  <key>glottalinvertedstroke</key>
  <string>glottalinvertedstroke.glif</string>
  <key>glottalstop</key>
  <string>glottalstop.glif</string>
  <key>glottalstopinverted</key>
  <string>glottalstopinverted.glif</string>
  <key>glottalstopmod</key>
  <string>glottalstopmod.glif</string>
  <key>glottalstopreversedmod</key>
  <string>glottalstopreversedmod.glif</string>
  <key>glottalstopsmall</key>
  <string>glottalstopsmall.glif</string>
  <key>glottalstopstroke</key>
  <string>glottalstopstroke.glif</string>
  <key>glottalstopstrokereversed</key>
  <string>glottalstopstrokereversed.glif</string>
  <key>glottalstopsupreversedmod</key>
  <string>glottalstopsupreversedmod.glif</string>
  <key>graphemejoinercomb</key>
  <string>graphemejoinercomb.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravebelowcomb</key>
  <string>gravebelowcomb.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>gravedblmiddlemod</key>
  <string>gravedblmiddlemod.glif</string>
  <key>gravelowmod</key>
  <string>gravelowmod.glif</string>
  <key>gravemiddlemod</key>
  <string>gravemiddlemod.glif</string>
  <key>gravemod</key>
  <string>gravemod.glif</string>
  <key>gravetonecomb</key>
  <string>gravetonecomb.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>gscript-ipa</key>
  <string>gscript-ipa.glif</string>
  <key>gstroke</key>
  <string>gstroke.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>handtailfishhookturned</key>
  <string>handtailfishhookturned.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>hcaron</key>
  <string>hcaron.glif</string>
  <key>hcircumflex</key>
  <string>hcircumflex.glif</string>
  <key>hcomb</key>
  <string>hcomb.glif</string>
  <key>henghook</key>
  <string>henghook.glif</string>
  <key>hfishhookturned</key>
  <string>hfishhookturned.glif</string>
  <key>hhook</key>
  <string>hhook.glif</string>
  <key>hhooksupmod</key>
  <string>hhooksupmod.glif</string>
  <key>homotheticabovecomb</key>
  <string>homotheticabovecomb.glif</string>
  <key>hookabovecomb</key>
  <string>hookabovecomb.glif</string>
  <key>horncomb</key>
  <string>horncomb.glif</string>
  <key>hsupmod</key>
  <string>hsupmod.glif</string>
  <key>hturned</key>
  <string>hturned.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hungarumlautcomb</key>
  <string>hungarumlautcomb.glif</string>
  <key>hv</key>
  <string>hv.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>ibreve</key>
  <string>ibreve.glif</string>
  <key>icaron</key>
  <string>icaron.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>icomb</key>
  <string>icomb.glif</string>
  <key>idblgrave</key>
  <string>idblgrave.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>iinvertedbreve</key>
  <string>iinvertedbreve.glif</string>
  <key>ij</key>
  <string>ij.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>iogonek</key>
  <string>iogonek.glif</string>
  <key>iota-ipa</key>
  <string>iota-ipa.glif</string>
  <key>iotasubcomb</key>
  <string>iotasubcomb.glif</string>
  <key>istroke</key>
  <string>istroke.glif</string>
  <key>itilde</key>
  <string>itilde.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jcaron</key>
  <string>jcaron.glif</string>
  <key>jcircumflex</key>
  <string>jcircumflex.glif</string>
  <key>jcrossedtail</key>
  <string>jcrossedtail.glif</string>
  <key>jstroke</key>
  <string>jstroke.glif</string>
  <key>jsupmod</key>
  <string>jsupmod.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kcaron</key>
  <string>kcaron.glif</string>
  <key>kcommaaccent</key>
  <string>kcommaaccent.glif</string>
  <key>kgreenlandic</key>
  <string>kgreenlandic.glif</string>
  <key>khook</key>
  <string>khook.glif</string>
  <key>koroniscomb</key>
  <string>koroniscomb.glif</string>
  <key>kturned</key>
  <string>kturned.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lacute</key>
  <string>lacute.glif</string>
  <key>lambdastroke</key>
  <string>lambdastroke.glif</string>
  <key>lbar</key>
  <string>lbar.glif</string>
  <key>lbelt</key>
  <string>lbelt.glif</string>
  <key>lcaron</key>
  <string>lcaron.glif</string>
  <key>lcommaaccent</key>
  <string>lcommaaccent.glif</string>
  <key>lcurl</key>
  <string>lcurl.glif</string>
  <key>ldot</key>
  <string>ldot.glif</string>
  <key>leftangleabovecomb</key>
  <string>leftangleabovecomb.glif</string>
  <key>leftanglebelowcomb</key>
  <string>leftanglebelowcomb.glif</string>
  <key>lefthalfringabovecomb</key>
  <string>lefthalfringabovecomb.glif</string>
  <key>lefttackbelowcomb</key>
  <string>lefttackbelowcomb.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lezh</key>
  <string>lezh.glif</string>
  <key>lhookretroflex</key>
  <string>lhookretroflex.glif</string>
  <key>lj</key>
  <string>lj.glif</string>
  <key>lmiddletilde</key>
  <string>lmiddletilde.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>longs</key>
  <string>longs.glif</string>
  <key>lowlinecomb</key>
  <string>lowlinecomb.glif</string>
  <key>ls</key>
  <string>ls.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>lsupmod</key>
  <string>lsupmod.glif</string>
  <key>lzed</key>
  <string>lzed.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macronbelowcomb</key>
  <string>macronbelowcomb.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>macronlowmod</key>
  <string>macronlowmod.glif</string>
  <key>macronmod</key>
  <string>macronmod.glif</string>
  <key>mcomb</key>
  <string>mcomb.glif</string>
  <key>mhook</key>
  <string>mhook.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>minusbelowcomb</key>
  <string>minusbelowcomb.glif</string>
  <key>minussignmod</key>
  <string>minussignmod.glif</string>
  <key>mlonglegturned</key>
  <string>mlonglegturned.glif</string>
  <key>mturned</key>
  <string>mturned.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nacute</key>
  <string>nacute.glif</string>
  <key>napostrophe</key>
  <string>napostrophe.glif</string>
  <key>ncaron</key>
  <string>ncaron.glif</string>
  <key>ncommaaccent</key>
  <string>ncommaaccent.glif</string>
  <key>ncurl</key>
  <string>ncurl.glif</string>
  <key>ngrave</key>
  <string>ngrave.glif</string>
  <key>nhookleft</key>
  <string>nhookleft.glif</string>
  <key>nhookretroflex</key>
  <string>nhookretroflex.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nj</key>
  <string>nj.glif</string>
  <key>nlongrightleg</key>
  <string>nlongrightleg.glif</string>
  <key>nottildeabovecomb</key>
  <string>nottildeabovecomb.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>obarred</key>
  <string>obarred.glif</string>
  <key>obreve</key>
  <string>obreve.glif</string>
  <key>ocaron</key>
  <string>ocaron.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>ocomb</key>
  <string>ocomb.glif</string>
  <key>odblgrave</key>
  <string>odblgrave.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>odieresismacron</key>
  <string>odieresismacron.glif</string>
  <key>odotaccent</key>
  <string>odotaccent.glif</string>
  <key>odotaccentmacron</key>
  <string>odotaccentmacron.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ogonekcomb</key>
  <string>ogonekcomb.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ohorn</key>
  <string>ohorn.glif</string>
  <key>ohungarumlaut</key>
  <string>ohungarumlaut.glif</string>
  <key>oi</key>
  <string>oi.glif</string>
  <key>oinvertedbreve</key>
  <string>oinvertedbreve.glif</string>
  <key>omacron</key>
  <string>omacron.glif</string>
  <key>omegaclosed</key>
  <string>omegaclosed.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>oogonek</key>
  <string>oogonek.glif</string>
  <key>oogonekmacron</key>
  <string>oogonekmacron.glif</string>
  <key>oopen</key>
  <string>oopen.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>oslashacute</key>
  <string>oslashacute.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>otildemacron</key>
  <string>otildemacron.glif</string>
  <key>ou</key>
  <string>ou.glif</string>
  <key>overlinecomb</key>
  <string>overlinecomb.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>palatalhookcomb</key>
  <string>palatalhookcomb.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>percussivebidental</key>
  <string>percussivebidental.glif</string>
  <key>percussivebilabial</key>
  <string>percussivebilabial.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perispomenicomb</key>
  <string>perispomenicomb.glif</string>
  <key>pharyngealvoicedfricative</key>
  <string>pharyngealvoicedfricative.glif</string>
  <key>phi-ipa</key>
  <string>phi-ipa.glif</string>
  <key>phook</key>
  <string>phook.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusbelowcomb</key>
  <string>plusbelowcomb.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>plussignmod</key>
  <string>plussignmod.glif</string>
  <key>primedblmod</key>
  <string>primedblmod.glif</string>
  <key>primemod</key>
  <string>primemod.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>qhook</key>
  <string>qhook.glif</string>
  <key>qhooktail</key>
  <string>qhooktail.glif</string>
  <key>qpdigraph</key>
  <string>qpdigraph.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>racute</key>
  <string>racute.glif</string>
  <key>ramshorn</key>
  <string>ramshorn.glif</string>
  <key>rcaron</key>
  <string>rcaron.glif</string>
  <key>rcomb</key>
  <string>rcomb.glif</string>
  <key>rcommaaccent</key>
  <string>rcommaaccent.glif</string>
  <key>rdblgrave</key>
  <string>rdblgrave.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>retroflexhookcomb</key>
  <string>retroflexhookcomb.glif</string>
  <key>rfishhook</key>
  <string>rfishhook.glif</string>
  <key>rfishhookreversed</key>
  <string>rfishhookreversed.glif</string>
  <key>rhookturned</key>
  <string>rhookturned.glif</string>
  <key>rhookturnedsupmod</key>
  <string>rhookturnedsupmod.glif</string>
  <key>rhotichookmod</key>
  <string>rhotichookmod.glif</string>
  <key>righthalfringabovecomb</key>
  <string>righthalfringabovecomb.glif</string>
  <key>righttackbelowcomb</key>
  <string>righttackbelowcomb.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringbelowcomb</key>
  <string>ringbelowcomb.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ringhalfleftbelowcomb</key>
  <string>ringhalfleftbelowcomb.glif</string>
  <key>ringhalfleftcentredmod</key>
  <string>ringhalfleftcentredmod.glif</string>
  <key>ringhalfleftmod</key>
  <string>ringhalfleftmod.glif</string>
  <key>ringhalfrightbelowcomb</key>
  <string>ringhalfrightbelowcomb.glif</string>
  <key>ringhalfrightcentredmod</key>
  <string>ringhalfrightcentredmod.glif</string>
  <key>ringhalfrightmod</key>
  <string>ringhalfrightmod.glif</string>
  <key>ringlowmod</key>
  <string>ringlowmod.glif</string>
  <key>rinvertedbreve</key>
  <string>rinvertedbreve.glif</string>
  <key>rlongleg</key>
  <string>rlongleg.glif</string>
  <key>rlonglegturned</key>
  <string>rlonglegturned.glif</string>
  <key>rstroke</key>
  <string>rstroke.glif</string>
  <key>rsupmod</key>
  <string>rsupmod.glif</string>
  <key>rtail-ipa</key>
  <string>rtail-ipa.glif</string>
  <key>rturned</key>
  <string>rturned.glif</string>
  <key>rturnedsupmod</key>
  <string>rturnedsupmod.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sacute</key>
  <string>sacute.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>scedilla</key>
  <string>scedilla.glif</string>
  <key>schwa</key>
  <string>schwa.glif</string>
  <key>schwahook</key>
  <string>schwahook.glif</string>
  <key>scircumflex</key>
  <string>scircumflex.glif</string>
  <key>scommaaccent</key>
  <string>scommaaccent.glif</string>
  <key>seagullbelowcomb</key>
  <string>seagullbelowcomb.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>shelfmod</key>
  <string>shelfmod.glif</string>
  <key>shelfopenmod</key>
  <string>shelfopenmod.glif</string>
  <key>shook</key>
  <string>shook.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>slashlongcomb</key>
  <string>slashlongcomb.glif</string>
  <key>slashshortcomb</key>
  <string>slashshortcomb.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>squarebelowcomb</key>
  <string>squarebelowcomb.glif</string>
  <key>ssupmod</key>
  <string>ssupmod.glif</string>
  <key>sswashtail</key>
  <string>sswashtail.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>strokelongcomb</key>
  <string>strokelongcomb.glif</string>
  <key>strokeshortcomb</key>
  <string>strokeshortcomb.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tackdownmod</key>
  <string>tackdownmod.glif</string>
  <key>tackupmod</key>
  <string>tackupmod.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>tcaron</key>
  <string>tcaron.glif</string>
  <key>tccurl</key>
  <string>tccurl.glif</string>
  <key>tcedilla</key>
  <string>tcedilla.glif</string>
  <key>tcomb</key>
  <string>tcomb.glif</string>
  <key>tcommaaccent</key>
  <string>tcommaaccent.glif</string>
  <key>tcurl</key>
  <string>tcurl.glif</string>
  <key>tesh</key>
  <string>tesh.glif</string>
  <key>thook</key>
  <string>thook.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildebelowcomb</key>
  <string>tildebelowcomb.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>tildedoublecomb</key>
  <string>tildedoublecomb.glif</string>
  <key>tildelowmod</key>
  <string>tildelowmod.glif</string>
  <key>tildeoverlaycomb</key>
  <string>tildeoverlaycomb.glif</string>
  <key>tildeverticalcomb</key>
  <string>tildeverticalcomb.glif</string>
  <key>tonebarextrahighmod</key>
  <string>tonebarextrahighmod.glif</string>
  <key>tonebarextralowmod</key>
  <string>tonebarextralowmod.glif</string>
  <key>tonebarhighmod</key>
  <string>tonebarhighmod.glif</string>
  <key>tonebarlowmod</key>
  <string>tonebarlowmod.glif</string>
  <key>tonebarmidmod</key>
  <string>tonebarmidmod.glif</string>
  <key>tonefive</key>
  <string>tonefive.glif</string>
  <key>tonehighbeginmod</key>
  <string>tonehighbeginmod.glif</string>
  <key>tonehighendmod</key>
  <string>tonehighendmod.glif</string>
  <key>tonelowbeginmod</key>
  <string>tonelowbeginmod.glif</string>
  <key>tonelowendmod</key>
  <string>tonelowendmod.glif</string>
  <key>tonesix</key>
  <string>tonesix.glif</string>
  <key>tonetwo</key>
  <string>tonetwo.glif</string>
  <key>tpalatalhook</key>
  <string>tpalatalhook.glif</string>
  <key>tretroflexhook</key>
  <string>tretroflexhook.glif</string>
  <key>ts</key>
  <string>ts.glif</string>
  <key>tturned</key>
  <string>tturned.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twostroke</key>
  <string>twostroke.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ubar</key>
  <string>ubar.glif</string>
  <key>ubreve</key>
  <string>ubreve.glif</string>
  <key>ucaron</key>
  <string>ucaron.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>ucomb</key>
  <string>ucomb.glif</string>
  <key>udblgrave</key>
  <string>udblgrave.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>udieresisacute</key>
  <string>udieresisacute.glif</string>
  <key>udieresiscaron</key>
  <string>udieresiscaron.glif</string>
  <key>udieresisgrave</key>
  <string>udieresisgrave.glif</string>
  <key>udieresismacron</key>
  <string>udieresismacron.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>uhorn</key>
  <string>uhorn.glif</string>
  <key>uhungarumlaut</key>
  <string>uhungarumlaut.glif</string>
  <key>uinvertedbreve</key>
  <string>uinvertedbreve.glif</string>
  <key>umacron</key>
  <string>umacron.glif</string>
  <key>unaspiratedmod</key>
  <string>unaspiratedmod.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni00A0</key>
  <string>uni00A_0.glif</string>
  <key>uogonek</key>
  <string>uogonek.glif</string>
  <key>upsilon-ipa</key>
  <string>upsilon-ipa.glif</string>
  <key>uptackbelowcomb</key>
  <string>uptackbelowcomb.glif</string>
  <key>uring</key>
  <string>uring.glif</string>
  <key>utilde</key>
  <string>utilde.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>vcomb</key>
  <string>vcomb.glif</string>
  <key>verticallinelowmod</key>
  <string>verticallinelowmod.glif</string>
  <key>verticallinemod</key>
  <string>verticallinemod.glif</string>
  <key>vhook</key>
  <string>vhook.glif</string>
  <key>vlinebelowcomb</key>
  <string>vlinebelowcomb.glif</string>
  <key>vlinecomb</key>
  <string>vlinecomb.glif</string>
  <key>voicingmod</key>
  <string>voicingmod.glif</string>
  <key>vturned</key>
  <string>vturned.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wcircumflex</key>
  <string>wcircumflex.glif</string>
  <key>wsupmod</key>
  <string>wsupmod.glif</string>
  <key>wturned</key>
  <string>wturned.glif</string>
  <key>wynn</key>
  <string>wynn.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>xabovecomb</key>
  <string>xabovecomb.glif</string>
  <key>xbelowcomb</key>
  <string>xbelowcomb.glif</string>
  <key>xcomb</key>
  <string>xcomb.glif</string>
  <key>xsupmod</key>
  <string>xsupmod.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>yangtonemod</key>
  <string>yangtonemod.glif</string>
  <key>ycircumflex</key>
  <string>ycircumflex.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>yhook</key>
  <string>yhook.glif</string>
  <key>yintonemod</key>
  <string>yintonemod.glif</string>
  <key>ymacron</key>
  <string>ymacron.glif</string>
  <key>yogh</key>
  <string>yogh.glif</string>
  <key>yr</key>
  <string>yr.glif</string>
  <key>ystroke</key>
  <string>ystroke.glif</string>
  <key>ysupmod</key>
  <string>ysupmod.glif</string>
  <key>yturned</key>
  <string>yturned.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zacute</key>
  <string>zacute.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zcurl</key>
  <string>zcurl.glif</string>
  <key>zdotaccent</key>
  <string>zdotaccent.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zhook</key>
  <string>zhook.glif</string>
  <key>zigzagabovecomb</key>
  <string>zigzagabovecomb.glif</string>
  <key>zretroflexhook</key>
  <string>zretroflexhook.glif</string>
  <key>zstroke</key>
  <string>zstroke.glif</string>
  <key>zswashtail</key>
  <string>zswashtail.glif</string>
</dict>
</plist>
