<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>u1200</key>
  <string>u1200.glif</string>
  <key>u1201</key>
  <string>u1201.glif</string>
  <key>u1202</key>
  <string>u1202.glif</string>
  <key>u1203</key>
  <string>u1203.glif</string>
  <key>u1204</key>
  <string>u1204.glif</string>
  <key>u1205</key>
  <string>u1205.glif</string>
  <key>u1206</key>
  <string>u1206.glif</string>
  <key>u1207</key>
  <string>u1207.glif</string>
  <key>u1208</key>
  <string>u1208.glif</string>
  <key>u1209</key>
  <string>u1209.glif</string>
  <key>u120A</key>
  <string>u120A_.glif</string>
  <key>u120B</key>
  <string>u120B_.glif</string>
  <key>u120C</key>
  <string>u120C_.glif</string>
  <key>u120D</key>
  <string>u120D_.glif</string>
  <key>u120E</key>
  <string>u120E_.glif</string>
  <key>u120F</key>
  <string>u120F_.glif</string>
  <key>u1210</key>
  <string>u1210.glif</string>
  <key>u1211</key>
  <string>u1211.glif</string>
  <key>u1212</key>
  <string>u1212.glif</string>
  <key>u1213</key>
  <string>u1213.glif</string>
  <key>u1214</key>
  <string>u1214.glif</string>
  <key>u1215</key>
  <string>u1215.glif</string>
  <key>u1216</key>
  <string>u1216.glif</string>
  <key>u1217</key>
  <string>u1217.glif</string>
  <key>u1218</key>
  <string>u1218.glif</string>
  <key>u1219</key>
  <string>u1219.glif</string>
  <key>u121A</key>
  <string>u121A_.glif</string>
  <key>u121B</key>
  <string>u121B_.glif</string>
  <key>u121C</key>
  <string>u121C_.glif</string>
  <key>u121D</key>
  <string>u121D_.glif</string>
  <key>u121E</key>
  <string>u121E_.glif</string>
  <key>u121F</key>
  <string>u121F_.glif</string>
  <key>u1220</key>
  <string>u1220.glif</string>
  <key>u1221</key>
  <string>u1221.glif</string>
  <key>u1222</key>
  <string>u1222.glif</string>
  <key>u1223</key>
  <string>u1223.glif</string>
  <key>u1224</key>
  <string>u1224.glif</string>
  <key>u1225</key>
  <string>u1225.glif</string>
  <key>u1226</key>
  <string>u1226.glif</string>
  <key>u1227</key>
  <string>u1227.glif</string>
  <key>u1228</key>
  <string>u1228.glif</string>
  <key>u1229</key>
  <string>u1229.glif</string>
  <key>u122A</key>
  <string>u122A_.glif</string>
  <key>u122B</key>
  <string>u122B_.glif</string>
  <key>u122C</key>
  <string>u122C_.glif</string>
  <key>u122D</key>
  <string>u122D_.glif</string>
  <key>u122E</key>
  <string>u122E_.glif</string>
  <key>u122F</key>
  <string>u122F_.glif</string>
  <key>u1230</key>
  <string>u1230.glif</string>
  <key>u1231</key>
  <string>u1231.glif</string>
  <key>u1232</key>
  <string>u1232.glif</string>
  <key>u1233</key>
  <string>u1233.glif</string>
  <key>u1234</key>
  <string>u1234.glif</string>
  <key>u1235</key>
  <string>u1235.glif</string>
  <key>u1236</key>
  <string>u1236.glif</string>
  <key>u1237</key>
  <string>u1237.glif</string>
  <key>u1238</key>
  <string>u1238.glif</string>
  <key>u1239</key>
  <string>u1239.glif</string>
  <key>u123A</key>
  <string>u123A_.glif</string>
  <key>u123B</key>
  <string>u123B_.glif</string>
  <key>u123C</key>
  <string>u123C_.glif</string>
  <key>u123D</key>
  <string>u123D_.glif</string>
  <key>u123E</key>
  <string>u123E_.glif</string>
  <key>u123F</key>
  <string>u123F_.glif</string>
  <key>u1240</key>
  <string>u1240.glif</string>
  <key>u1241</key>
  <string>u1241.glif</string>
  <key>u1242</key>
  <string>u1242.glif</string>
  <key>u1243</key>
  <string>u1243.glif</string>
  <key>u1244</key>
  <string>u1244.glif</string>
  <key>u1245</key>
  <string>u1245.glif</string>
  <key>u1246</key>
  <string>u1246.glif</string>
  <key>u1247</key>
  <string>u1247.glif</string>
  <key>u1248</key>
  <string>u1248.glif</string>
  <key>u124A</key>
  <string>u124A_.glif</string>
  <key>u124B</key>
  <string>u124B_.glif</string>
  <key>u124C</key>
  <string>u124C_.glif</string>
  <key>u124D</key>
  <string>u124D_.glif</string>
  <key>u1250</key>
  <string>u1250.glif</string>
  <key>u1251</key>
  <string>u1251.glif</string>
  <key>u1252</key>
  <string>u1252.glif</string>
  <key>u1253</key>
  <string>u1253.glif</string>
  <key>u1254</key>
  <string>u1254.glif</string>
  <key>u1255</key>
  <string>u1255.glif</string>
  <key>u1256</key>
  <string>u1256.glif</string>
  <key>u1258</key>
  <string>u1258.glif</string>
  <key>u125A</key>
  <string>u125A_.glif</string>
  <key>u125B</key>
  <string>u125B_.glif</string>
  <key>u125C</key>
  <string>u125C_.glif</string>
  <key>u125D</key>
  <string>u125D_.glif</string>
  <key>u1260</key>
  <string>u1260.glif</string>
  <key>u1261</key>
  <string>u1261.glif</string>
  <key>u1262</key>
  <string>u1262.glif</string>
  <key>u1263</key>
  <string>u1263.glif</string>
  <key>u1264</key>
  <string>u1264.glif</string>
  <key>u1265</key>
  <string>u1265.glif</string>
  <key>u1266</key>
  <string>u1266.glif</string>
  <key>u1267</key>
  <string>u1267.glif</string>
  <key>u1268</key>
  <string>u1268.glif</string>
  <key>u1269</key>
  <string>u1269.glif</string>
  <key>u126A</key>
  <string>u126A_.glif</string>
  <key>u126B</key>
  <string>u126B_.glif</string>
  <key>u126C</key>
  <string>u126C_.glif</string>
  <key>u126D</key>
  <string>u126D_.glif</string>
  <key>u126E</key>
  <string>u126E_.glif</string>
  <key>u126F</key>
  <string>u126F_.glif</string>
  <key>u1270</key>
  <string>u1270.glif</string>
  <key>u1271</key>
  <string>u1271.glif</string>
  <key>u1272</key>
  <string>u1272.glif</string>
  <key>u1273</key>
  <string>u1273.glif</string>
  <key>u1274</key>
  <string>u1274.glif</string>
  <key>u1275</key>
  <string>u1275.glif</string>
  <key>u1276</key>
  <string>u1276.glif</string>
  <key>u1277</key>
  <string>u1277.glif</string>
  <key>u1278</key>
  <string>u1278.glif</string>
  <key>u1279</key>
  <string>u1279.glif</string>
  <key>u127A</key>
  <string>u127A_.glif</string>
  <key>u127B</key>
  <string>u127B_.glif</string>
  <key>u127C</key>
  <string>u127C_.glif</string>
  <key>u127D</key>
  <string>u127D_.glif</string>
  <key>u127E</key>
  <string>u127E_.glif</string>
  <key>u127F</key>
  <string>u127F_.glif</string>
  <key>u1280</key>
  <string>u1280.glif</string>
  <key>u1281</key>
  <string>u1281.glif</string>
  <key>u1282</key>
  <string>u1282.glif</string>
  <key>u1283</key>
  <string>u1283.glif</string>
  <key>u1284</key>
  <string>u1284.glif</string>
  <key>u1285</key>
  <string>u1285.glif</string>
  <key>u1286</key>
  <string>u1286.glif</string>
  <key>u1287</key>
  <string>u1287.glif</string>
  <key>u1288</key>
  <string>u1288.glif</string>
  <key>u128A</key>
  <string>u128A_.glif</string>
  <key>u128B</key>
  <string>u128B_.glif</string>
  <key>u128B.alt1</key>
  <string>u128B_.alt1.glif</string>
  <key>u128C</key>
  <string>u128C_.glif</string>
  <key>u128D</key>
  <string>u128D_.glif</string>
  <key>u1290</key>
  <string>u1290.glif</string>
  <key>u1291</key>
  <string>u1291.glif</string>
  <key>u1292</key>
  <string>u1292.glif</string>
  <key>u1293</key>
  <string>u1293.glif</string>
  <key>u1294</key>
  <string>u1294.glif</string>
  <key>u1295</key>
  <string>u1295.glif</string>
  <key>u1296</key>
  <string>u1296.glif</string>
  <key>u1297</key>
  <string>u1297.glif</string>
  <key>u1298</key>
  <string>u1298.glif</string>
  <key>u1299</key>
  <string>u1299.glif</string>
  <key>u129A</key>
  <string>u129A_.glif</string>
  <key>u129B</key>
  <string>u129B_.glif</string>
  <key>u129C</key>
  <string>u129C_.glif</string>
  <key>u129D</key>
  <string>u129D_.glif</string>
  <key>u129E</key>
  <string>u129E_.glif</string>
  <key>u129F</key>
  <string>u129F_.glif</string>
  <key>u12A0</key>
  <string>u12A_0.glif</string>
  <key>u12A1</key>
  <string>u12A_1.glif</string>
  <key>u12A2</key>
  <string>u12A_2.glif</string>
  <key>u12A3</key>
  <string>u12A_3.glif</string>
  <key>u12A4</key>
  <string>u12A_4.glif</string>
  <key>u12A5</key>
  <string>u12A_5.glif</string>
  <key>u12A6</key>
  <string>u12A_6.glif</string>
  <key>u12A7</key>
  <string>u12A_7.glif</string>
  <key>u12A8</key>
  <string>u12A_8.glif</string>
  <key>u12A9</key>
  <string>u12A_9.glif</string>
  <key>u12AA</key>
  <string>u12A_A_.glif</string>
  <key>u12AB</key>
  <string>u12A_B_.glif</string>
  <key>u12AC</key>
  <string>u12A_C_.glif</string>
  <key>u12AD</key>
  <string>u12A_D_.glif</string>
  <key>u12AE</key>
  <string>u12A_E_.glif</string>
  <key>u12AF</key>
  <string>u12A_F_.glif</string>
  <key>u12B0</key>
  <string>u12B_0.glif</string>
  <key>u12B2</key>
  <string>u12B_2.glif</string>
  <key>u12B3</key>
  <string>u12B_3.glif</string>
  <key>u12B4</key>
  <string>u12B_4.glif</string>
  <key>u12B5</key>
  <string>u12B_5.glif</string>
  <key>u12B8</key>
  <string>u12B_8.glif</string>
  <key>u12B9</key>
  <string>u12B_9.glif</string>
  <key>u12BA</key>
  <string>u12B_A_.glif</string>
  <key>u12BB</key>
  <string>u12B_B_.glif</string>
  <key>u12BC</key>
  <string>u12B_C_.glif</string>
  <key>u12BD</key>
  <string>u12B_D_.glif</string>
  <key>u12BE</key>
  <string>u12B_E_.glif</string>
  <key>u12C0</key>
  <string>u12C_0.glif</string>
  <key>u12C2</key>
  <string>u12C_2.glif</string>
  <key>u12C3</key>
  <string>u12C_3.glif</string>
  <key>u12C4</key>
  <string>u12C_4.glif</string>
  <key>u12C5</key>
  <string>u12C_5.glif</string>
  <key>u12C8</key>
  <string>u12C_8.glif</string>
  <key>u12C9</key>
  <string>u12C_9.glif</string>
  <key>u12CA</key>
  <string>u12C_A_.glif</string>
  <key>u12CB</key>
  <string>u12C_B_.glif</string>
  <key>u12CC</key>
  <string>u12C_C_.glif</string>
  <key>u12CD</key>
  <string>u12C_D_.glif</string>
  <key>u12CE</key>
  <string>u12C_E_.glif</string>
  <key>u12CF</key>
  <string>u12C_F_.glif</string>
  <key>u12D0</key>
  <string>u12D_0.glif</string>
  <key>u12D1</key>
  <string>u12D_1.glif</string>
  <key>u12D2</key>
  <string>u12D_2.glif</string>
  <key>u12D3</key>
  <string>u12D_3.glif</string>
  <key>u12D4</key>
  <string>u12D_4.glif</string>
  <key>u12D5</key>
  <string>u12D_5.glif</string>
  <key>u12D6</key>
  <string>u12D_6.glif</string>
  <key>u12D8</key>
  <string>u12D_8.glif</string>
  <key>u12D9</key>
  <string>u12D_9.glif</string>
  <key>u12DA</key>
  <string>u12D_A_.glif</string>
  <key>u12DB</key>
  <string>u12D_B_.glif</string>
  <key>u12DC</key>
  <string>u12D_C_.glif</string>
  <key>u12DD</key>
  <string>u12D_D_.glif</string>
  <key>u12DE</key>
  <string>u12D_E_.glif</string>
  <key>u12DF</key>
  <string>u12D_F_.glif</string>
  <key>u12E0</key>
  <string>u12E_0.glif</string>
  <key>u12E1</key>
  <string>u12E_1.glif</string>
  <key>u12E2</key>
  <string>u12E_2.glif</string>
  <key>u12E3</key>
  <string>u12E_3.glif</string>
  <key>u12E4</key>
  <string>u12E_4.glif</string>
  <key>u12E5</key>
  <string>u12E_5.glif</string>
  <key>u12E6</key>
  <string>u12E_6.glif</string>
  <key>u12E7</key>
  <string>u12E_7.glif</string>
  <key>u12E8</key>
  <string>u12E_8.glif</string>
  <key>u12E9</key>
  <string>u12E_9.glif</string>
  <key>u12EA</key>
  <string>u12E_A_.glif</string>
  <key>u12EB</key>
  <string>u12E_B_.glif</string>
  <key>u12EC</key>
  <string>u12E_C_.glif</string>
  <key>u12ED</key>
  <string>u12E_D_.glif</string>
  <key>u12EE</key>
  <string>u12E_E_.glif</string>
  <key>u12EF</key>
  <string>u12E_F_.glif</string>
  <key>u12F0</key>
  <string>u12F_0.glif</string>
  <key>u12F1</key>
  <string>u12F_1.glif</string>
  <key>u12F2</key>
  <string>u12F_2.glif</string>
  <key>u12F3</key>
  <string>u12F_3.glif</string>
  <key>u12F4</key>
  <string>u12F_4.glif</string>
  <key>u12F5</key>
  <string>u12F_5.glif</string>
  <key>u12F6</key>
  <string>u12F_6.glif</string>
  <key>u12F7</key>
  <string>u12F_7.glif</string>
  <key>u12F8</key>
  <string>u12F_8.glif</string>
  <key>u12F9</key>
  <string>u12F_9.glif</string>
  <key>u12FA</key>
  <string>u12F_A_.glif</string>
  <key>u12FB</key>
  <string>u12F_B_.glif</string>
  <key>u12FC</key>
  <string>u12F_C_.glif</string>
  <key>u12FD</key>
  <string>u12F_D_.glif</string>
  <key>u12FE</key>
  <string>u12F_E_.glif</string>
  <key>u12FF</key>
  <string>u12F_F_.glif</string>
  <key>u1300</key>
  <string>u1300.glif</string>
  <key>u1301</key>
  <string>u1301.glif</string>
  <key>u1302</key>
  <string>u1302.glif</string>
  <key>u1303</key>
  <string>u1303.glif</string>
  <key>u1304</key>
  <string>u1304.glif</string>
  <key>u1305</key>
  <string>u1305.glif</string>
  <key>u1306</key>
  <string>u1306.glif</string>
  <key>u1307</key>
  <string>u1307.glif</string>
  <key>u1308</key>
  <string>u1308.glif</string>
  <key>u1309</key>
  <string>u1309.glif</string>
  <key>u130A</key>
  <string>u130A_.glif</string>
  <key>u130B</key>
  <string>u130B_.glif</string>
  <key>u130C</key>
  <string>u130C_.glif</string>
  <key>u130D</key>
  <string>u130D_.glif</string>
  <key>u130E</key>
  <string>u130E_.glif</string>
  <key>u130F</key>
  <string>u130F_.glif</string>
  <key>u1310</key>
  <string>u1310.glif</string>
  <key>u1312</key>
  <string>u1312.glif</string>
  <key>u1313</key>
  <string>u1313.glif</string>
  <key>u1314</key>
  <string>u1314.glif</string>
  <key>u1315</key>
  <string>u1315.glif</string>
  <key>u1318</key>
  <string>u1318.glif</string>
  <key>u1319</key>
  <string>u1319.glif</string>
  <key>u131A</key>
  <string>u131A_.glif</string>
  <key>u131B</key>
  <string>u131B_.glif</string>
  <key>u131C</key>
  <string>u131C_.glif</string>
  <key>u131D</key>
  <string>u131D_.glif</string>
  <key>u131E</key>
  <string>u131E_.glif</string>
  <key>u131F</key>
  <string>u131F_.glif</string>
  <key>u1320</key>
  <string>u1320.glif</string>
  <key>u1321</key>
  <string>u1321.glif</string>
  <key>u1322</key>
  <string>u1322.glif</string>
  <key>u1323</key>
  <string>u1323.glif</string>
  <key>u1324</key>
  <string>u1324.glif</string>
  <key>u1325</key>
  <string>u1325.glif</string>
  <key>u1326</key>
  <string>u1326.glif</string>
  <key>u1327</key>
  <string>u1327.glif</string>
  <key>u1328</key>
  <string>u1328.glif</string>
  <key>u1329</key>
  <string>u1329.glif</string>
  <key>u132A</key>
  <string>u132A_.glif</string>
  <key>u132B</key>
  <string>u132B_.glif</string>
  <key>u132C</key>
  <string>u132C_.glif</string>
  <key>u132D</key>
  <string>u132D_.glif</string>
  <key>u132E</key>
  <string>u132E_.glif</string>
  <key>u132F</key>
  <string>u132F_.glif</string>
  <key>u1330</key>
  <string>u1330.glif</string>
  <key>u1331</key>
  <string>u1331.glif</string>
  <key>u1332</key>
  <string>u1332.glif</string>
  <key>u1333</key>
  <string>u1333.glif</string>
  <key>u1334</key>
  <string>u1334.glif</string>
  <key>u1335</key>
  <string>u1335.glif</string>
  <key>u1336</key>
  <string>u1336.glif</string>
  <key>u1337</key>
  <string>u1337.glif</string>
  <key>u1338</key>
  <string>u1338.glif</string>
  <key>u1339</key>
  <string>u1339.glif</string>
  <key>u133A</key>
  <string>u133A_.glif</string>
  <key>u133B</key>
  <string>u133B_.glif</string>
  <key>u133C</key>
  <string>u133C_.glif</string>
  <key>u133D</key>
  <string>u133D_.glif</string>
  <key>u133E</key>
  <string>u133E_.glif</string>
  <key>u133F</key>
  <string>u133F_.glif</string>
  <key>u1340</key>
  <string>u1340.glif</string>
  <key>u1341</key>
  <string>u1341.glif</string>
  <key>u1342</key>
  <string>u1342.glif</string>
  <key>u1343</key>
  <string>u1343.glif</string>
  <key>u1344</key>
  <string>u1344.glif</string>
  <key>u1345</key>
  <string>u1345.glif</string>
  <key>u1346</key>
  <string>u1346.glif</string>
  <key>u1347</key>
  <string>u1347.glif</string>
  <key>u1348</key>
  <string>u1348.glif</string>
  <key>u1349</key>
  <string>u1349.glif</string>
  <key>u134A</key>
  <string>u134A_.glif</string>
  <key>u134B</key>
  <string>u134B_.glif</string>
  <key>u134C</key>
  <string>u134C_.glif</string>
  <key>u134D</key>
  <string>u134D_.glif</string>
  <key>u134E</key>
  <string>u134E_.glif</string>
  <key>u134F</key>
  <string>u134F_.glif</string>
  <key>u1350</key>
  <string>u1350.glif</string>
  <key>u1351</key>
  <string>u1351.glif</string>
  <key>u1352</key>
  <string>u1352.glif</string>
  <key>u1353</key>
  <string>u1353.glif</string>
  <key>u1354</key>
  <string>u1354.glif</string>
  <key>u1355</key>
  <string>u1355.glif</string>
  <key>u1356</key>
  <string>u1356.glif</string>
  <key>u1357</key>
  <string>u1357.glif</string>
  <key>u1358</key>
  <string>u1358.glif</string>
  <key>u1359</key>
  <string>u1359.glif</string>
  <key>u135A</key>
  <string>u135A_.glif</string>
  <key>u135D</key>
  <string>u135D_.glif</string>
  <key>u135E</key>
  <string>u135E_.glif</string>
  <key>u135F</key>
  <string>u135F_.glif</string>
  <key>u1360</key>
  <string>u1360.glif</string>
  <key>u1361</key>
  <string>u1361.glif</string>
  <key>u1362</key>
  <string>u1362.glif</string>
  <key>u1363</key>
  <string>u1363.glif</string>
  <key>u1364</key>
  <string>u1364.glif</string>
  <key>u1365</key>
  <string>u1365.glif</string>
  <key>u1366</key>
  <string>u1366.glif</string>
  <key>u1367</key>
  <string>u1367.glif</string>
  <key>u1368</key>
  <string>u1368.glif</string>
  <key>u1369</key>
  <string>u1369.glif</string>
  <key>u136A</key>
  <string>u136A_.glif</string>
  <key>u136B</key>
  <string>u136B_.glif</string>
  <key>u136C</key>
  <string>u136C_.glif</string>
  <key>u136D</key>
  <string>u136D_.glif</string>
  <key>u136E</key>
  <string>u136E_.glif</string>
  <key>u136F</key>
  <string>u136F_.glif</string>
  <key>u1370</key>
  <string>u1370.glif</string>
  <key>u1371</key>
  <string>u1371.glif</string>
  <key>u1372</key>
  <string>u1372.glif</string>
  <key>u1373</key>
  <string>u1373.glif</string>
  <key>u1374</key>
  <string>u1374.glif</string>
  <key>u1375</key>
  <string>u1375.glif</string>
  <key>u1376</key>
  <string>u1376.glif</string>
  <key>u1377</key>
  <string>u1377.glif</string>
  <key>u1378</key>
  <string>u1378.glif</string>
  <key>u1379</key>
  <string>u1379.glif</string>
  <key>u137A</key>
  <string>u137A_.glif</string>
  <key>u137B</key>
  <string>u137B_.glif</string>
  <key>u137C</key>
  <string>u137C_.glif</string>
  <key>u1380</key>
  <string>u1380.glif</string>
  <key>u1381</key>
  <string>u1381.glif</string>
  <key>u1382</key>
  <string>u1382.glif</string>
  <key>u1383</key>
  <string>u1383.glif</string>
  <key>u1384</key>
  <string>u1384.glif</string>
  <key>u1385</key>
  <string>u1385.glif</string>
  <key>u1386</key>
  <string>u1386.glif</string>
  <key>u1387</key>
  <string>u1387.glif</string>
  <key>u1388</key>
  <string>u1388.glif</string>
  <key>u1389</key>
  <string>u1389.glif</string>
  <key>u138A</key>
  <string>u138A_.glif</string>
  <key>u138B</key>
  <string>u138B_.glif</string>
  <key>u138C</key>
  <string>u138C_.glif</string>
  <key>u138D</key>
  <string>u138D_.glif</string>
  <key>u138E</key>
  <string>u138E_.glif</string>
  <key>u138F</key>
  <string>u138F_.glif</string>
  <key>u1390</key>
  <string>u1390.glif</string>
  <key>u1391</key>
  <string>u1391.glif</string>
  <key>u1392</key>
  <string>u1392.glif</string>
  <key>u1393</key>
  <string>u1393.glif</string>
  <key>u1394</key>
  <string>u1394.glif</string>
  <key>u1395</key>
  <string>u1395.glif</string>
  <key>u1396</key>
  <string>u1396.glif</string>
  <key>u1397</key>
  <string>u1397.glif</string>
  <key>u1398</key>
  <string>u1398.glif</string>
  <key>u1399</key>
  <string>u1399.glif</string>
  <key>u1E7E0</key>
  <string>u1E_7E_0.glif</string>
  <key>u1E7E1</key>
  <string>u1E_7E_1.glif</string>
  <key>u1E7E2</key>
  <string>u1E_7E_2.glif</string>
  <key>u1E7E3</key>
  <string>u1E_7E_3.glif</string>
  <key>u1E7E4</key>
  <string>u1E_7E_4.glif</string>
  <key>u1E7E5</key>
  <string>u1E_7E_5.glif</string>
  <key>u1E7E6</key>
  <string>u1E_7E_6.glif</string>
  <key>u1E7E8</key>
  <string>u1E_7E_8.glif</string>
  <key>u1E7E9</key>
  <string>u1E_7E_9.glif</string>
  <key>u1E7EA</key>
  <string>u1E_7E_A_.glif</string>
  <key>u1E7EB</key>
  <string>u1E_7E_B_.glif</string>
  <key>u1E7ED</key>
  <string>u1E_7E_D_.glif</string>
  <key>u1E7EE</key>
  <string>u1E_7E_E_.glif</string>
  <key>u1E7F0</key>
  <string>u1E_7F_0.glif</string>
  <key>u1E7F1</key>
  <string>u1E_7F_1.glif</string>
  <key>u1E7F2</key>
  <string>u1E_7F_2.glif</string>
  <key>u1E7F3</key>
  <string>u1E_7F_3.glif</string>
  <key>u1E7F4</key>
  <string>u1E_7F_4.glif</string>
  <key>u1E7F5</key>
  <string>u1E_7F_5.glif</string>
  <key>u1E7F6</key>
  <string>u1E_7F_6.glif</string>
  <key>u1E7F7</key>
  <string>u1E_7F_7.glif</string>
  <key>u1E7F8</key>
  <string>u1E_7F_8.glif</string>
  <key>u1E7F9</key>
  <string>u1E_7F_9.glif</string>
  <key>u1E7FA</key>
  <string>u1E_7F_A_.glif</string>
  <key>u1E7FB</key>
  <string>u1E_7F_B_.glif</string>
  <key>u1E7FC</key>
  <string>u1E_7F_C_.glif</string>
  <key>u1E7FD</key>
  <string>u1E_7F_D_.glif</string>
  <key>u1E7FE</key>
  <string>u1E_7F_E_.glif</string>
  <key>u2028</key>
  <string>u2028.glif</string>
  <key>u2029</key>
  <string>u2029.glif</string>
  <key>u25CC</key>
  <string>u25C_C_.glif</string>
  <key>u2D80</key>
  <string>u2D_80.glif</string>
  <key>u2D81</key>
  <string>u2D_81.glif</string>
  <key>u2D82</key>
  <string>u2D_82.glif</string>
  <key>u2D83</key>
  <string>u2D_83.glif</string>
  <key>u2D84</key>
  <string>u2D_84.glif</string>
  <key>u2D85</key>
  <string>u2D_85.glif</string>
  <key>u2D86</key>
  <string>u2D_86.glif</string>
  <key>u2D87</key>
  <string>u2D_87.glif</string>
  <key>u2D88</key>
  <string>u2D_88.glif</string>
  <key>u2D89</key>
  <string>u2D_89.glif</string>
  <key>u2D8A</key>
  <string>u2D_8A_.glif</string>
  <key>u2D8B</key>
  <string>u2D_8B_.glif</string>
  <key>u2D8C</key>
  <string>u2D_8C_.glif</string>
  <key>u2D8D</key>
  <string>u2D_8D_.glif</string>
  <key>u2D8E</key>
  <string>u2D_8E_.glif</string>
  <key>u2D8F</key>
  <string>u2D_8F_.glif</string>
  <key>u2D90</key>
  <string>u2D_90.glif</string>
  <key>u2D91</key>
  <string>u2D_91.glif</string>
  <key>u2D92</key>
  <string>u2D_92.glif</string>
  <key>u2D93</key>
  <string>u2D_93.glif</string>
  <key>u2D94</key>
  <string>u2D_94.glif</string>
  <key>u2D95</key>
  <string>u2D_95.glif</string>
  <key>u2D96</key>
  <string>u2D_96.glif</string>
  <key>u2DA0</key>
  <string>u2D_A_0.glif</string>
  <key>u2DA1</key>
  <string>u2D_A_1.glif</string>
  <key>u2DA2</key>
  <string>u2D_A_2.glif</string>
  <key>u2DA3</key>
  <string>u2D_A_3.glif</string>
  <key>u2DA4</key>
  <string>u2D_A_4.glif</string>
  <key>u2DA5</key>
  <string>u2D_A_5.glif</string>
  <key>u2DA6</key>
  <string>u2D_A_6.glif</string>
  <key>u2DA8</key>
  <string>u2D_A_8.glif</string>
  <key>u2DA9</key>
  <string>u2D_A_9.glif</string>
  <key>u2DAA</key>
  <string>u2D_A_A_.glif</string>
  <key>u2DAB</key>
  <string>u2D_A_B_.glif</string>
  <key>u2DAC</key>
  <string>u2D_A_C_.glif</string>
  <key>u2DAD</key>
  <string>u2D_A_D_.glif</string>
  <key>u2DAE</key>
  <string>u2D_A_E_.glif</string>
  <key>u2DB0</key>
  <string>u2D_B_0.glif</string>
  <key>u2DB1</key>
  <string>u2D_B_1.glif</string>
  <key>u2DB2</key>
  <string>u2D_B_2.glif</string>
  <key>u2DB3</key>
  <string>u2D_B_3.glif</string>
  <key>u2DB4</key>
  <string>u2D_B_4.glif</string>
  <key>u2DB5</key>
  <string>u2D_B_5.glif</string>
  <key>u2DB6</key>
  <string>u2D_B_6.glif</string>
  <key>u2DB8</key>
  <string>u2D_B_8.glif</string>
  <key>u2DB9</key>
  <string>u2D_B_9.glif</string>
  <key>u2DBA</key>
  <string>u2D_B_A_.glif</string>
  <key>u2DBB</key>
  <string>u2D_B_B_.glif</string>
  <key>u2DBC</key>
  <string>u2D_B_C_.glif</string>
  <key>u2DBD</key>
  <string>u2D_B_D_.glif</string>
  <key>u2DBE</key>
  <string>u2D_B_E_.glif</string>
  <key>u2DC0</key>
  <string>u2D_C_0.glif</string>
  <key>u2DC1</key>
  <string>u2D_C_1.glif</string>
  <key>u2DC2</key>
  <string>u2D_C_2.glif</string>
  <key>u2DC3</key>
  <string>u2D_C_3.glif</string>
  <key>u2DC4</key>
  <string>u2D_C_4.glif</string>
  <key>u2DC5</key>
  <string>u2D_C_5.glif</string>
  <key>u2DC6</key>
  <string>u2D_C_6.glif</string>
  <key>u2DC8</key>
  <string>u2D_C_8.glif</string>
  <key>u2DC9</key>
  <string>u2D_C_9.glif</string>
  <key>u2DCA</key>
  <string>u2D_C_A_.glif</string>
  <key>u2DCB</key>
  <string>u2D_C_B_.glif</string>
  <key>u2DCC</key>
  <string>u2D_C_C_.glif</string>
  <key>u2DCD</key>
  <string>u2D_C_D_.glif</string>
  <key>u2DCE</key>
  <string>u2D_C_E_.glif</string>
  <key>u2DD0</key>
  <string>u2D_D_0.glif</string>
  <key>u2DD1</key>
  <string>u2D_D_1.glif</string>
  <key>u2DD2</key>
  <string>u2D_D_2.glif</string>
  <key>u2DD3</key>
  <string>u2D_D_3.glif</string>
  <key>u2DD4</key>
  <string>u2D_D_4.glif</string>
  <key>u2DD5</key>
  <string>u2D_D_5.glif</string>
  <key>u2DD6</key>
  <string>u2D_D_6.glif</string>
  <key>u2DD8</key>
  <string>u2D_D_8.glif</string>
  <key>u2DD9</key>
  <string>u2D_D_9.glif</string>
  <key>u2DDA</key>
  <string>u2D_D_A_.glif</string>
  <key>u2DDB</key>
  <string>u2D_D_B_.glif</string>
  <key>u2DDC</key>
  <string>u2D_D_C_.glif</string>
  <key>u2DDD</key>
  <string>u2D_D_D_.glif</string>
  <key>u2DDE</key>
  <string>u2D_D_E_.glif</string>
  <key>uAB01</key>
  <string>uA_B_01.glif</string>
  <key>uAB02</key>
  <string>uA_B_02.glif</string>
  <key>uAB03</key>
  <string>uA_B_03.glif</string>
  <key>uAB04</key>
  <string>uA_B_04.glif</string>
  <key>uAB05</key>
  <string>uA_B_05.glif</string>
  <key>uAB06</key>
  <string>uA_B_06.glif</string>
  <key>uAB09</key>
  <string>uA_B_09.glif</string>
  <key>uAB0A</key>
  <string>uA_B_0A_.glif</string>
  <key>uAB0B</key>
  <string>uA_B_0B_.glif</string>
  <key>uAB0C</key>
  <string>uA_B_0C_.glif</string>
  <key>uAB0D</key>
  <string>uA_B_0D_.glif</string>
  <key>uAB0E</key>
  <string>uA_B_0E_.glif</string>
  <key>uAB10</key>
  <string>uA_B_10.glif</string>
  <key>uAB11</key>
  <string>uA_B_11.glif</string>
  <key>uAB12</key>
  <string>uA_B_12.glif</string>
  <key>uAB13</key>
  <string>uA_B_13.glif</string>
  <key>uAB14</key>
  <string>uA_B_14.glif</string>
  <key>uAB15</key>
  <string>uA_B_15.glif</string>
  <key>uAB16</key>
  <string>uA_B_16.glif</string>
  <key>uAB20</key>
  <string>uA_B_20.glif</string>
  <key>uAB21</key>
  <string>uA_B_21.glif</string>
  <key>uAB22</key>
  <string>uA_B_22.glif</string>
  <key>uAB23</key>
  <string>uA_B_23.glif</string>
  <key>uAB24</key>
  <string>uA_B_24.glif</string>
  <key>uAB25</key>
  <string>uA_B_25.glif</string>
  <key>uAB26</key>
  <string>uA_B_26.glif</string>
  <key>uAB28</key>
  <string>uA_B_28.glif</string>
  <key>uAB29</key>
  <string>uA_B_29.glif</string>
  <key>uAB2A</key>
  <string>uA_B_2A_.glif</string>
  <key>uAB2B</key>
  <string>uA_B_2B_.glif</string>
  <key>uAB2C</key>
  <string>uA_B_2C_.glif</string>
  <key>uAB2D</key>
  <string>uA_B_2D_.glif</string>
  <key>uAB2E</key>
  <string>uA_B_2E_.glif</string>
  <key>u00A0</key>
  <string>u00A_0.glif</string>
</dict>
</plist>
