<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uni1300</key>
  <string>uni1300.glif</string>
  <key>uni1304</key>
  <string>uni1304.glif</string>
  <key>uniAB0C</key>
  <string>uniA_B_0C_.glif</string>
  <key>uniAB0D</key>
  <string>uniA_B_0D_.glif</string>
</dict>
</plist>
