<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>locl_rclt</key>
  <array>
    <string>u135D</string>
    <string>u135F</string>
    <string>u135E</string>
    <string>u1308</string>
    <string>u1200</string>
    <string>u1201</string>
    <string>u1202</string>
    <string>u1203</string>
    <string>u1204</string>
    <string>u1205</string>
    <string>u1206</string>
    <string>u1208</string>
    <string>u1209</string>
    <string>u120A</string>
    <string>u120B</string>
    <string>u120C</string>
    <string>u120D</string>
    <string>u120E</string>
    <string>u120F</string>
    <string>u1210</string>
    <string>u1211</string>
    <string>u1212</string>
    <string>u1213</string>
    <string>u1214</string>
    <string>u1215</string>
    <string>u1216</string>
    <string>u1217</string>
    <string>u1218</string>
    <string>u1219</string>
    <string>u121A</string>
    <string>u121B</string>
    <string>u121C</string>
    <string>u121D</string>
    <string>u121E</string>
    <string>u121F</string>
    <string>u1220</string>
    <string>u1221</string>
    <string>u1222</string>
    <string>u1223</string>
    <string>u1224</string>
    <string>u1225</string>
    <string>u1226</string>
    <string>u1227</string>
    <string>u1228</string>
    <string>u1229</string>
    <string>u122A</string>
    <string>u122B</string>
    <string>u122C</string>
    <string>u122D</string>
    <string>u122E</string>
    <string>u122F</string>
    <string>u1230</string>
    <string>u1231</string>
    <string>u1232</string>
    <string>u1233</string>
    <string>u1234</string>
    <string>u1235</string>
    <string>u1236</string>
    <string>u1237</string>
    <string>u1238</string>
    <string>u1239</string>
    <string>u123A</string>
    <string>u123B</string>
    <string>u123C</string>
    <string>u123D</string>
    <string>u123E</string>
    <string>u123F</string>
    <string>u1240</string>
    <string>u1241</string>
    <string>u1242</string>
    <string>u1243</string>
    <string>u1244</string>
    <string>u1245</string>
    <string>u1246</string>
    <string>u1248</string>
    <string>u124A</string>
    <string>u124B</string>
    <string>u124C</string>
    <string>u124D</string>
    <string>u1250</string>
    <string>u1251</string>
    <string>u1252</string>
    <string>u1253</string>
    <string>u1254</string>
    <string>u1255</string>
    <string>u1256</string>
    <string>u1258</string>
    <string>u125A</string>
    <string>u125B</string>
    <string>u125C</string>
    <string>u125D</string>
    <string>u1260</string>
    <string>u1261</string>
    <string>u1262</string>
    <string>u1263</string>
    <string>u1264</string>
    <string>u1265</string>
    <string>u1266</string>
    <string>u1267</string>
    <string>u1268</string>
    <string>u1269</string>
    <string>u126A</string>
    <string>u126B</string>
    <string>u126C</string>
    <string>u126D</string>
    <string>u126E</string>
    <string>u126F</string>
    <string>u1270</string>
    <string>u1271</string>
    <string>u1272</string>
    <string>u1273</string>
    <string>u1274</string>
    <string>u1275</string>
    <string>u1276</string>
    <string>u1277</string>
    <string>u1278</string>
    <string>u1279</string>
    <string>u127A</string>
    <string>u127B</string>
    <string>u127C</string>
    <string>u127D</string>
    <string>u127E</string>
    <string>u127F</string>
    <string>u1280</string>
    <string>u1281</string>
    <string>u1282</string>
    <string>u1283</string>
    <string>u1284</string>
    <string>u1285</string>
    <string>u1286</string>
    <string>u1288</string>
    <string>u128A</string>
    <string>u128B</string>
    <string>u128C</string>
    <string>u128D</string>
    <string>u1290</string>
    <string>u1291</string>
    <string>u1292</string>
    <string>u1293</string>
    <string>u1294</string>
    <string>u1295</string>
    <string>u1296</string>
    <string>u1297</string>
    <string>u1298</string>
    <string>u1299</string>
    <string>u129A</string>
    <string>u129B</string>
    <string>u129C</string>
    <string>u129D</string>
    <string>u129E</string>
    <string>u129F</string>
    <string>u12A0</string>
    <string>u12A1</string>
    <string>u12A2</string>
    <string>u12A3</string>
    <string>u12A4</string>
    <string>u12A5</string>
    <string>u12A6</string>
    <string>u12A7</string>
    <string>u12A8</string>
    <string>u12A9</string>
    <string>u12AA</string>
    <string>u12AB</string>
    <string>u12AC</string>
    <string>u12AD</string>
    <string>u12AE</string>
    <string>u12B0</string>
    <string>u12B2</string>
    <string>u12B3</string>
    <string>u12B4</string>
    <string>u12B5</string>
    <string>u12B8</string>
    <string>u12B9</string>
    <string>u12BA</string>
    <string>u12BB</string>
    <string>u12BC</string>
    <string>u12BD</string>
    <string>u12BE</string>
    <string>u12C0</string>
    <string>u12C2</string>
    <string>u12C3</string>
    <string>u12C4</string>
    <string>u12C5</string>
    <string>u12C8</string>
    <string>u12C9</string>
    <string>u12CA</string>
    <string>u12CB</string>
    <string>u12CC</string>
    <string>u12CD</string>
    <string>u12CE</string>
    <string>u12D0</string>
    <string>u12D1</string>
    <string>u12D2</string>
    <string>u12D3</string>
    <string>u12D4</string>
    <string>u12D5</string>
    <string>u12D6</string>
    <string>u12D8</string>
    <string>u12D9</string>
    <string>u12DA</string>
    <string>u12DB</string>
    <string>u12DC</string>
    <string>u12DD</string>
    <string>u12DE</string>
    <string>u12DF</string>
    <string>u12E0</string>
    <string>u12E1</string>
    <string>u12E2</string>
    <string>u12E3</string>
    <string>u12E4</string>
    <string>u12E5</string>
    <string>u12E6</string>
    <string>u12E7</string>
    <string>u12E8</string>
    <string>u12E9</string>
    <string>u12EA</string>
    <string>u12EB</string>
    <string>u12EC</string>
    <string>u12ED</string>
    <string>u12EE</string>
    <string>u12F0</string>
    <string>u12F1</string>
    <string>u12F2</string>
    <string>u12F3</string>
    <string>u12F4</string>
    <string>u12F5</string>
    <string>u12F6</string>
    <string>u12F7</string>
    <string>u12F8</string>
    <string>u12F9</string>
    <string>u12FA</string>
    <string>u12FB</string>
    <string>u12FC</string>
    <string>u12FD</string>
    <string>u12FE</string>
    <string>u12FF</string>
    <string>u1300</string>
    <string>u1301</string>
    <string>u1302</string>
    <string>u1303</string>
    <string>u1304</string>
    <string>u1305</string>
    <string>u1306</string>
    <string>u1307</string>
    <string>u1309</string>
    <string>u130A</string>
    <string>u130B</string>
    <string>u130C</string>
    <string>u130D</string>
    <string>u130E</string>
    <string>u1310</string>
    <string>u1312</string>
    <string>u1313</string>
    <string>u1314</string>
    <string>u1315</string>
    <string>u1318</string>
    <string>u1319</string>
    <string>u131A</string>
    <string>u131B</string>
    <string>u131C</string>
    <string>u131D</string>
    <string>u131E</string>
    <string>u1320</string>
    <string>u1321</string>
    <string>u1322</string>
    <string>u1323</string>
    <string>u1324</string>
    <string>u1325</string>
    <string>u1326</string>
    <string>u1327</string>
    <string>u1328</string>
    <string>u1329</string>
    <string>u132A</string>
    <string>u132B</string>
    <string>u132C</string>
    <string>u132D</string>
    <string>u132E</string>
    <string>u132F</string>
    <string>u1330</string>
    <string>u1331</string>
    <string>u1332</string>
    <string>u1333</string>
    <string>u1334</string>
    <string>u1335</string>
    <string>u1336</string>
    <string>u1337</string>
    <string>u1338</string>
    <string>u1339</string>
    <string>u133A</string>
    <string>u133B</string>
    <string>u133C</string>
    <string>u133D</string>
    <string>u133E</string>
    <string>u133F</string>
    <string>u1340</string>
    <string>u1341</string>
    <string>u1342</string>
    <string>u1343</string>
    <string>u1344</string>
    <string>u1345</string>
    <string>u1346</string>
    <string>u1348</string>
    <string>u1349</string>
    <string>u134A</string>
    <string>u134B</string>
    <string>u134C</string>
    <string>u134D</string>
    <string>u134E</string>
    <string>u134F</string>
    <string>u1350</string>
    <string>u1351</string>
    <string>u1352</string>
    <string>u1353</string>
    <string>u1354</string>
    <string>u1355</string>
    <string>u1356</string>
    <string>u1357</string>
    <string>u1358</string>
    <string>u1359</string>
    <string>u135A</string>
    <string>u1361</string>
    <string>u1362</string>
    <string>u1363</string>
    <string>u1364</string>
    <string>u1365</string>
    <string>u1366</string>
    <string>u1367</string>
    <string>u1368</string>
    <string>u1360</string>
    <string>u1390</string>
    <string>u1391</string>
    <string>u1392</string>
    <string>u1393</string>
    <string>u1394</string>
    <string>u1395</string>
    <string>u1396</string>
    <string>u1397</string>
    <string>u1398</string>
    <string>u1399</string>
    <string>u1369</string>
    <string>u136A</string>
    <string>u136B</string>
    <string>u136C</string>
    <string>u136D</string>
    <string>u136E</string>
    <string>u136F</string>
    <string>u1370</string>
    <string>u1371</string>
    <string>u1372</string>
    <string>u1373</string>
    <string>u1374</string>
    <string>u1375</string>
    <string>u1376</string>
    <string>u1377</string>
    <string>u1378</string>
    <string>u1379</string>
    <string>u137A</string>
    <string>u137B</string>
    <string>u137C</string>
    <string>u1207</string>
    <string>u1247</string>
    <string>u1287</string>
    <string>u12AF</string>
    <string>u12CF</string>
    <string>u12EF</string>
    <string>u130F</string>
    <string>u131F</string>
    <string>u1347</string>
    <string>u1380</string>
    <string>u1381</string>
    <string>u1382</string>
    <string>u1383</string>
    <string>u1384</string>
    <string>u1385</string>
    <string>u1386</string>
    <string>u1387</string>
    <string>u1388</string>
    <string>u1389</string>
    <string>u138A</string>
    <string>u138B</string>
    <string>u138C</string>
    <string>u138D</string>
    <string>u138E</string>
    <string>u138F</string>
    <string>u2D80</string>
    <string>u2D81</string>
    <string>u2D82</string>
    <string>u2D83</string>
    <string>u2D84</string>
    <string>u2D85</string>
    <string>u2D86</string>
    <string>u2D87</string>
    <string>u2D88</string>
    <string>u2D89</string>
    <string>u2D8A</string>
    <string>u2D8B</string>
    <string>u2D8C</string>
    <string>u2D8D</string>
    <string>u2D8E</string>
    <string>u2D8F</string>
    <string>u2D90</string>
    <string>u2D91</string>
    <string>u2D92</string>
    <string>u2D93</string>
    <string>u2D94</string>
    <string>u2D95</string>
    <string>u2D96</string>
    <string>u2DA0</string>
    <string>u2DA1</string>
    <string>u2DA2</string>
    <string>u2DA3</string>
    <string>u2DA4</string>
    <string>u2DA5</string>
    <string>u2DA6</string>
    <string>u2DA8</string>
    <string>u2DA9</string>
    <string>u2DAA</string>
    <string>u2DAB</string>
    <string>u2DAC</string>
    <string>u2DAD</string>
    <string>u2DAE</string>
    <string>u2DB0</string>
    <string>u2DB1</string>
    <string>u2DB2</string>
    <string>u2DB3</string>
    <string>u2DB4</string>
    <string>u2DB5</string>
    <string>u2DB6</string>
    <string>u2DB8</string>
    <string>u2DB9</string>
    <string>u2DBA</string>
    <string>u2DBB</string>
    <string>u2DBC</string>
    <string>u2DBD</string>
    <string>u2DBE</string>
    <string>u2DC0</string>
    <string>u2DC1</string>
    <string>u2DC2</string>
    <string>u2DC3</string>
    <string>u2DC4</string>
    <string>u2DC5</string>
    <string>u2DC6</string>
    <string>u2DC8</string>
    <string>u2DC9</string>
    <string>u2DCA</string>
    <string>u2DCB</string>
    <string>u2DCC</string>
    <string>u2DCD</string>
    <string>u2DCE</string>
    <string>u2DD0</string>
    <string>u2DD1</string>
    <string>u2DD2</string>
    <string>u2DD3</string>
    <string>u2DD4</string>
    <string>u2DD5</string>
    <string>u2DD6</string>
    <string>u2DD8</string>
    <string>u2DD9</string>
    <string>u2DDA</string>
    <string>u2DDB</string>
    <string>u2DDC</string>
    <string>u2DDD</string>
    <string>u2DDE</string>
    <string>uAB01</string>
    <string>uAB02</string>
    <string>uAB03</string>
    <string>uAB04</string>
    <string>uAB05</string>
    <string>uAB06</string>
    <string>uAB09</string>
    <string>uAB0A</string>
    <string>uAB0B</string>
    <string>uAB0C</string>
    <string>uAB0D</string>
    <string>uAB0E</string>
    <string>uAB11</string>
    <string>uAB12</string>
    <string>uAB13</string>
    <string>uAB14</string>
    <string>uAB15</string>
    <string>uAB16</string>
    <string>uAB20</string>
    <string>uAB21</string>
    <string>uAB22</string>
    <string>uAB23</string>
    <string>uAB24</string>
    <string>uAB25</string>
    <string>uAB26</string>
    <string>uAB28</string>
    <string>uAB29</string>
    <string>uAB2A</string>
    <string>uAB2B</string>
    <string>uAB2C</string>
    <string>uAB2D</string>
    <string>uAB2E</string>
  </array>
  <key>public.kern1.u1200</key>
  <array>
    <string>u1200</string>
    <string>u1205</string>
  </array>
  <key>public.kern1.u1206</key>
  <array>
    <string>u1206</string>
    <string>u1207</string>
  </array>
  <key>public.kern1.u1208</key>
  <array>
    <string>u1208</string>
    <string>u120B</string>
    <string>u120D</string>
  </array>
  <key>public.kern1.u1210</key>
  <array>
    <string>u1210</string>
    <string>u1213</string>
    <string>u1215</string>
  </array>
  <key>public.kern1.u12101</key>
  <array>
    <string>u1212</string>
    <string>u1214</string>
    <string>u1216</string>
    <string>u1E7E1</string>
    <string>u1E7E4</string>
    <string>u1E7EB</string>
  </array>
  <key>public.kern1.u1217</key>
  <array>
    <string>u1217</string>
    <string>u1227</string>
  </array>
  <key>public.kern1.u121C</key>
  <array>
    <string>u121C</string>
    <string>u1382</string>
  </array>
  <key>public.kern1.u121D</key>
  <array>
    <string>u121D</string>
    <string>u121E</string>
    <string>u2D81</string>
  </array>
  <key>public.kern1.u1230</key>
  <array>
    <string>u1230</string>
    <string>u1233</string>
    <string>u1235</string>
    <string>u12A8</string>
    <string>u12AB</string>
    <string>u12AD</string>
    <string>u12B8</string>
    <string>u12BB</string>
    <string>u12BD</string>
    <string>u2DD0</string>
    <string>u2DD3</string>
    <string>u2DD5</string>
    <string>uAB03</string>
    <string>uAB05</string>
  </array>
  <key>public.kern1.u1231</key>
  <array>
    <string>u1231</string>
    <string>u12A9</string>
    <string>u2DD1</string>
    <string>uAB01</string>
  </array>
  <key>public.kern1.u1232</key>
  <array>
    <string>u1232</string>
    <string>u12AA</string>
    <string>u12BA</string>
    <string>u2DD2</string>
    <string>uAB02</string>
  </array>
  <key>public.kern1.u1234</key>
  <array>
    <string>u1234</string>
    <string>u12AC</string>
    <string>u12B4</string>
    <string>u12BC</string>
    <string>u12C4</string>
    <string>u2DD4</string>
    <string>uAB04</string>
  </array>
  <key>public.kern1.u1236</key>
  <array>
    <string>u1236</string>
    <string>u12AE</string>
    <string>u12AF</string>
    <string>u12BE</string>
    <string>u2D83</string>
    <string>u2DD6</string>
    <string>uAB06</string>
  </array>
  <key>public.kern1.u1237</key>
  <array>
    <string>u1237</string>
    <string>u12C3</string>
  </array>
  <key>public.kern1.u1238</key>
  <array>
    <string>u1238</string>
    <string>u123B</string>
    <string>u123D</string>
    <string>u2DA3</string>
    <string>u2DA5</string>
  </array>
  <key>public.kern1.u123A</key>
  <array>
    <string>u123A</string>
    <string>u2DA2</string>
  </array>
  <key>public.kern1.u123C</key>
  <array>
    <string>u123C</string>
    <string>u2DA4</string>
  </array>
  <key>public.kern1.u123E</key>
  <array>
    <string>u123E</string>
    <string>u2D84</string>
    <string>u2DA6</string>
  </array>
  <key>public.kern1.u123F</key>
  <array>
    <string>u123F</string>
    <string>u126F</string>
    <string>u1327</string>
  </array>
  <key>public.kern1.u1240</key>
  <array>
    <string>u1240</string>
    <string>u1243</string>
    <string>u1245</string>
    <string>u1250</string>
    <string>u1253</string>
    <string>u1255</string>
    <string>u2DC0</string>
    <string>u2DC3</string>
    <string>u2DC5</string>
  </array>
  <key>public.kern1.u1241</key>
  <array>
    <string>u1241</string>
    <string>u1242</string>
    <string>u1251</string>
    <string>u1252</string>
    <string>u2DC1</string>
    <string>u2DC2</string>
  </array>
  <key>public.kern1.u1244</key>
  <array>
    <string>u1244</string>
    <string>u124C</string>
    <string>u1254</string>
    <string>u125C</string>
    <string>u2DC4</string>
  </array>
  <key>public.kern1.u1246</key>
  <array>
    <string>u1246</string>
    <string>u1247</string>
    <string>u1256</string>
    <string>u2DC6</string>
  </array>
  <key>public.kern1.u1248</key>
  <array>
    <string>u1248</string>
    <string>u1258</string>
    <string>u1E7F0</string>
    <string>u1E7F1</string>
    <string>u1E7F2</string>
  </array>
  <key>public.kern1.u124A</key>
  <array>
    <string>u124A</string>
    <string>u124D</string>
    <string>u125A</string>
    <string>u125D</string>
  </array>
  <key>public.kern1.u124B</key>
  <array>
    <string>u124B</string>
    <string>u125B</string>
  </array>
  <key>public.kern1.u1260</key>
  <array>
    <string>u1260</string>
    <string>u1263</string>
    <string>u1265</string>
  </array>
  <key>public.kern1.u1264</key>
  <array>
    <string>u1264</string>
    <string>u1386</string>
  </array>
  <key>public.kern1.u1266</key>
  <array>
    <string>u1266</string>
    <string>u2D85</string>
  </array>
  <key>public.kern1.u1268</key>
  <array>
    <string>u1268</string>
    <string>u126B</string>
    <string>u126D</string>
  </array>
  <key>public.kern1.u1270</key>
  <array>
    <string>u1270</string>
    <string>u1273</string>
    <string>u1275</string>
  </array>
  <key>public.kern1.u1276</key>
  <array>
    <string>u1276</string>
    <string>u127E</string>
    <string>u2D86</string>
    <string>u2D87</string>
  </array>
  <key>public.kern1.u1278</key>
  <array>
    <string>u1278</string>
    <string>u127B</string>
  </array>
  <key>public.kern1.u127F</key>
  <array>
    <string>u127F</string>
    <string>u12D8</string>
    <string>u12DB</string>
    <string>u12DD</string>
    <string>u12DE</string>
    <string>u1326</string>
    <string>u135A</string>
    <string>u2D8B</string>
    <string>u2D8F</string>
    <string>u2DA8</string>
    <string>u2DA9</string>
    <string>u2DAA</string>
    <string>u2DAC</string>
    <string>u2DAD</string>
    <string>uAB13</string>
    <string>uAB15</string>
    <string>uAB16</string>
  </array>
  <key>public.kern1.u1285</key>
  <array>
    <string>u1285</string>
    <string>u1343</string>
  </array>
  <key>public.kern1.u1286</key>
  <array>
    <string>u1286</string>
    <string>u1287</string>
    <string>u1296</string>
  </array>
  <key>public.kern1.u1295</key>
  <array>
    <string>u1295</string>
    <string>u129D</string>
  </array>
  <key>public.kern1.u129E</key>
  <array>
    <string>u129E</string>
    <string>u2D89</string>
  </array>
  <key>public.kern1.u12A0</key>
  <array>
    <string>u12A0</string>
    <string>u12A3</string>
    <string>u12A5</string>
    <string>u12A6</string>
    <string>u12A7</string>
  </array>
  <key>public.kern1.u12B0</key>
  <array>
    <string>u12B0</string>
    <string>u12C0</string>
    <string>u1E7F7</string>
  </array>
  <key>public.kern1.u12B2</key>
  <array>
    <string>u12B2</string>
    <string>u12C2</string>
  </array>
  <key>public.kern1.u12B5</key>
  <array>
    <string>u12B5</string>
    <string>u12C5</string>
  </array>
  <key>public.kern1.u12CE</key>
  <array>
    <string>u12CE</string>
    <string>u12CF</string>
  </array>
  <key>public.kern1.u12D6</key>
  <array>
    <string>u12D6</string>
    <string>u1346</string>
    <string>u1347</string>
  </array>
  <key>public.kern1.u12D9</key>
  <array>
    <string>u12D9</string>
    <string>uAB11</string>
  </array>
  <key>public.kern1.u12DC</key>
  <array>
    <string>u12DC</string>
    <string>uAB14</string>
  </array>
  <key>public.kern1.u12E0</key>
  <array>
    <string>u12E0</string>
    <string>u12E3</string>
    <string>u12E5</string>
    <string>u12E6</string>
    <string>u2DB0</string>
    <string>u2DB3</string>
    <string>u2DB5</string>
    <string>u2DB6</string>
  </array>
  <key>public.kern1.u12EE</key>
  <array>
    <string>u12EE</string>
    <string>u12EF</string>
  </array>
  <key>public.kern1.u12F0</key>
  <array>
    <string>u12F0</string>
    <string>u12F8</string>
    <string>u1300</string>
  </array>
  <key>public.kern1.u12F1</key>
  <array>
    <string>u12F1</string>
    <string>u12F9</string>
    <string>u1301</string>
    <string>uAB09</string>
  </array>
  <key>public.kern1.u12F2</key>
  <array>
    <string>u12F2</string>
    <string>u12FA</string>
    <string>u1302</string>
    <string>uAB0A</string>
  </array>
  <key>public.kern1.u12F3</key>
  <array>
    <string>u12F3</string>
    <string>u12FB</string>
    <string>u1303</string>
    <string>uAB0B</string>
  </array>
  <key>public.kern1.u12F4</key>
  <array>
    <string>u12F4</string>
    <string>u12FC</string>
    <string>uAB0C</string>
  </array>
  <key>public.kern1.u12F5</key>
  <array>
    <string>u12F5</string>
    <string>u12FD</string>
    <string>u1305</string>
  </array>
  <key>public.kern1.u12F6</key>
  <array>
    <string>u12F6</string>
    <string>u12FE</string>
    <string>u1306</string>
    <string>u2D8C</string>
    <string>u2D8D</string>
    <string>uAB0E</string>
  </array>
  <key>public.kern1.u12F7</key>
  <array>
    <string>u12F7</string>
    <string>u12FF</string>
    <string>u1307</string>
  </array>
  <key>public.kern1.u1308</key>
  <array>
    <string>u1308</string>
    <string>u1318</string>
    <string>u131D</string>
    <string>u131E</string>
    <string>u2DD8</string>
  </array>
  <key>public.kern1.u1309</key>
  <array>
    <string>u1309</string>
    <string>u1319</string>
    <string>u2DD9</string>
  </array>
  <key>public.kern1.u130A</key>
  <array>
    <string>u130A</string>
    <string>u131A</string>
    <string>u2DDA</string>
  </array>
  <key>public.kern1.u130B</key>
  <array>
    <string>u130B</string>
    <string>u131B</string>
    <string>u2DDB</string>
  </array>
  <key>public.kern1.u130C</key>
  <array>
    <string>u130C</string>
    <string>u1314</string>
    <string>u131C</string>
    <string>u2D95</string>
    <string>u2DDC</string>
  </array>
  <key>public.kern1.u130D</key>
  <array>
    <string>u130D</string>
    <string>u2DDD</string>
  </array>
  <key>public.kern1.u1310</key>
  <array>
    <string>u1310</string>
    <string>u2D93</string>
  </array>
  <key>public.kern1.u1328</key>
  <array>
    <string>u1328</string>
    <string>uAB20</string>
  </array>
  <key>public.kern1.u132A</key>
  <array>
    <string>u132A</string>
    <string>u2DBA</string>
    <string>uAB22</string>
  </array>
  <key>public.kern1.u132B</key>
  <array>
    <string>u132B</string>
    <string>u2DBB</string>
    <string>uAB23</string>
  </array>
  <key>public.kern1.u132C</key>
  <array>
    <string>u132C</string>
    <string>u2DBC</string>
    <string>uAB24</string>
  </array>
  <key>public.kern1.u132D</key>
  <array>
    <string>u132D</string>
    <string>u2DBD</string>
    <string>uAB25</string>
  </array>
  <key>public.kern1.u132E</key>
  <array>
    <string>u132E</string>
    <string>u2D82</string>
    <string>u2D90</string>
    <string>u2DBE</string>
    <string>uAB26</string>
  </array>
  <key>public.kern1.u132F</key>
  <array>
    <string>u132F</string>
    <string>u1337</string>
    <string>u133F</string>
  </array>
  <key>public.kern1.u1330</key>
  <array>
    <string>u1330</string>
    <string>u1333</string>
    <string>u1338</string>
    <string>u133B</string>
    <string>uAB28</string>
    <string>uAB2B</string>
  </array>
  <key>public.kern1.u1332</key>
  <array>
    <string>u1332</string>
    <string>u133A</string>
    <string>uAB2A</string>
  </array>
  <key>public.kern1.u1334</key>
  <array>
    <string>u1334</string>
    <string>u133C</string>
    <string>uAB2C</string>
  </array>
  <key>public.kern1.u1335</key>
  <array>
    <string>u1335</string>
    <string>u133D</string>
    <string>uAB2D</string>
  </array>
  <key>public.kern1.u1336</key>
  <array>
    <string>u1336</string>
    <string>u133E</string>
    <string>uAB2E</string>
  </array>
  <key>public.kern1.u1350</key>
  <array>
    <string>u1350</string>
    <string>u1355</string>
  </array>
  <key>public.kern1.u1354</key>
  <array>
    <string>u1354</string>
    <string>u138E</string>
  </array>
  <key>public.kern1.u1356</key>
  <array>
    <string>u1356</string>
    <string>u2D92</string>
  </array>
  <key>public.kern1.u1390</key>
  <array>
    <string>u1390</string>
    <string>u1391</string>
    <string>u1394</string>
    <string>u1395</string>
    <string>u1396</string>
    <string>u1397</string>
    <string>u1398</string>
  </array>
  <key>public.kern1.u2DC8</key>
  <array>
    <string>u2DC8</string>
    <string>u2DCB</string>
    <string>u2DCD</string>
  </array>
  <key>public.kern2.u1202</key>
  <array>
    <string>u1202</string>
    <string>u1203</string>
    <string>u1204</string>
  </array>
  <key>public.kern2.u1208_2</key>
  <array>
    <string>u1208</string>
    <string>u1209</string>
    <string>u120A</string>
    <string>u120C</string>
    <string>u120D</string>
    <string>u120E</string>
  </array>
  <key>public.kern2.u1210_2</key>
  <array>
    <string>u1210</string>
    <string>u1211</string>
    <string>u1212</string>
    <string>u1214</string>
    <string>u1215</string>
    <string>u1216</string>
    <string>u1E7E1</string>
    <string>u1E7E2</string>
    <string>u1E7E4</string>
    <string>u1E7E5</string>
    <string>u1E7E8</string>
    <string>u1E7E9</string>
    <string>u1E7EA</string>
    <string>u1E7EB</string>
  </array>
  <key>public.kern2.u1218</key>
  <array>
    <string>u1218</string>
    <string>u1219</string>
    <string>u1380</string>
  </array>
  <key>public.kern2.u121A</key>
  <array>
    <string>u121A</string>
    <string>u121B</string>
    <string>u121C</string>
    <string>u121F</string>
    <string>u1359</string>
    <string>u1381</string>
    <string>u1382</string>
  </array>
  <key>public.kern2.u121D_2</key>
  <array>
    <string>u121D</string>
    <string>u1383</string>
  </array>
  <key>public.kern2.u1220</key>
  <array>
    <string>u1220</string>
    <string>u1221</string>
  </array>
  <key>public.kern2.u1222</key>
  <array>
    <string>u1222</string>
    <string>u1223</string>
    <string>u1224</string>
    <string>u1227</string>
  </array>
  <key>public.kern2.u1228</key>
  <array>
    <string>u1228</string>
    <string>u122A</string>
    <string>u122B</string>
    <string>u122C</string>
    <string>u122F</string>
    <string>u1358</string>
  </array>
  <key>public.kern2.u122D</key>
  <array>
    <string>u122D</string>
    <string>u122E</string>
  </array>
  <key>public.kern2.u1230_2</key>
  <array>
    <string>u1230</string>
    <string>u1231</string>
    <string>u1232</string>
    <string>u1234</string>
    <string>u1235</string>
    <string>u1236</string>
    <string>uAB01</string>
    <string>uAB02</string>
    <string>uAB04</string>
    <string>uAB05</string>
    <string>uAB06</string>
  </array>
  <key>public.kern2.u1233</key>
  <array>
    <string>u1233</string>
    <string>u1237</string>
    <string>uAB03</string>
  </array>
  <key>public.kern2.u1238_2</key>
  <array>
    <string>u1238</string>
    <string>u1239</string>
    <string>u123A</string>
    <string>u123C</string>
    <string>u123D</string>
    <string>u123E</string>
  </array>
  <key>public.kern2.u123B</key>
  <array>
    <string>u123B</string>
    <string>u123F</string>
  </array>
  <key>public.kern2.u1240_2</key>
  <array>
    <string>u1240</string>
    <string>u1241</string>
    <string>u1242</string>
    <string>u1244</string>
    <string>u1245</string>
    <string>u1248</string>
    <string>u124A</string>
    <string>u124D</string>
    <string>u1250</string>
    <string>u1251</string>
    <string>u1252</string>
    <string>u1254</string>
    <string>u1258</string>
    <string>u125A</string>
    <string>u125D</string>
    <string>u1E7F0</string>
    <string>u1E7F1</string>
    <string>u1E7F2</string>
    <string>u2DC0</string>
    <string>u2DC1</string>
    <string>u2DC2</string>
    <string>u2DC4</string>
    <string>u2DC5</string>
  </array>
  <key>public.kern2.u1243</key>
  <array>
    <string>u1243</string>
    <string>u1253</string>
    <string>u2DC3</string>
  </array>
  <key>public.kern2.u1246_2</key>
  <array>
    <string>u1246</string>
    <string>u1256</string>
    <string>u2DC6</string>
  </array>
  <key>public.kern2.u124B_2</key>
  <array>
    <string>u124B</string>
    <string>u125B</string>
  </array>
  <key>public.kern2.u124C</key>
  <array>
    <string>u124C</string>
    <string>u125C</string>
  </array>
  <key>public.kern2.u1260_2</key>
  <array>
    <string>u1260</string>
    <string>u1261</string>
    <string>u1264</string>
    <string>u1266</string>
    <string>u1384</string>
    <string>u1385</string>
    <string>u1386</string>
  </array>
  <key>public.kern2.u1263</key>
  <array>
    <string>u1263</string>
    <string>u1267</string>
  </array>
  <key>public.kern2.u1265</key>
  <array>
    <string>u1265</string>
    <string>u1387</string>
  </array>
  <key>public.kern2.u1268_2</key>
  <array>
    <string>u1268</string>
    <string>u1269</string>
    <string>u126A</string>
    <string>u126C</string>
    <string>u126E</string>
  </array>
  <key>public.kern2.u126B</key>
  <array>
    <string>u126B</string>
    <string>u126F</string>
  </array>
  <key>public.kern2.u1270_2</key>
  <array>
    <string>u1270</string>
    <string>u1271</string>
    <string>u1272</string>
    <string>u1274</string>
    <string>u1275</string>
  </array>
  <key>public.kern2.u1276_2</key>
  <array>
    <string>u1276</string>
    <string>u127E</string>
  </array>
  <key>public.kern2.u1278_2</key>
  <array>
    <string>u1278</string>
    <string>u1279</string>
    <string>u127A</string>
    <string>u127C</string>
  </array>
  <key>public.kern2.u1286_2</key>
  <array>
    <string>u1286</string>
    <string>u1287</string>
  </array>
  <key>public.kern2.u1290</key>
  <array>
    <string>u1290</string>
    <string>u1291</string>
    <string>u1292</string>
    <string>u1294</string>
  </array>
  <key>public.kern2.u1293</key>
  <array>
    <string>u1293</string>
    <string>u1296</string>
  </array>
  <key>public.kern2.u1295_2</key>
  <array>
    <string>u1295</string>
    <string>u129D</string>
  </array>
  <key>public.kern2.u1298</key>
  <array>
    <string>u1298</string>
    <string>u1299</string>
    <string>u129A</string>
    <string>u129C</string>
  </array>
  <key>public.kern2.u129B</key>
  <array>
    <string>u129B</string>
    <string>u129E</string>
  </array>
  <key>public.kern2.u12A0_2</key>
  <array>
    <string>u12A0</string>
    <string>u12A1</string>
    <string>u12A2</string>
    <string>u12A4</string>
    <string>u12A5</string>
    <string>u12A6</string>
  </array>
  <key>public.kern2.u12A7</key>
  <array>
    <string>u12A7</string>
  </array>
  <key>public.kern2.u12A8</key>
  <array>
    <string>u12A8</string>
    <string>u12A9</string>
    <string>u12AA</string>
    <string>u12AC</string>
    <string>u12AD</string>
    <string>u12AE</string>
    <string>u12B0</string>
    <string>u12B2</string>
    <string>u12B5</string>
    <string>u2DC8</string>
    <string>u2DC9</string>
    <string>u2DCA</string>
    <string>u2DCC</string>
    <string>u2DCE</string>
  </array>
  <key>public.kern2.u12AB</key>
  <array>
    <string>u12AB</string>
    <string>u2DCB</string>
  </array>
  <key>public.kern2.u12AF</key>
  <array>
    <string>u12AF</string>
    <string>u2DA0</string>
    <string>u2DA1</string>
    <string>u2DA2</string>
    <string>u2DA3</string>
    <string>u2DA4</string>
    <string>u2DA5</string>
    <string>u2DA6</string>
  </array>
  <key>public.kern2.u12B4</key>
  <array>
    <string>u12B4</string>
    <string>u2D8E</string>
  </array>
  <key>public.kern2.u12B8</key>
  <array>
    <string>u12B8</string>
    <string>u12B9</string>
    <string>u12BA</string>
    <string>u12BC</string>
    <string>u12BD</string>
    <string>u12BE</string>
    <string>u12C0</string>
    <string>u12C2</string>
    <string>u12C4</string>
    <string>u12C5</string>
  </array>
  <key>public.kern2.u12BB</key>
  <array>
    <string>u12BB</string>
    <string>u12C3</string>
  </array>
  <key>public.kern2.u12C9</key>
  <array>
    <string>u12C8</string>
    <string>u12C9</string>
    <string>u12CD</string>
  </array>
  <key>public.kern2.u12CA</key>
  <array>
    <string>u12CA</string>
    <string>u12CB</string>
    <string>u12CC</string>
  </array>
  <key>public.kern2.u12D2</key>
  <array>
    <string>u12D2</string>
    <string>u12D3</string>
    <string>u12D4</string>
  </array>
  <key>public.kern2.u12D8</key>
  <array>
    <string>u12D8</string>
    <string>u12D9</string>
    <string>u12DA</string>
    <string>u12DB</string>
    <string>u12DC</string>
    <string>u12DE</string>
    <string>u12DF</string>
    <string>uAB11</string>
    <string>uAB12</string>
    <string>uAB13</string>
    <string>uAB14</string>
    <string>uAB16</string>
  </array>
  <key>public.kern2.u12DD</key>
  <array>
    <string>u12DD</string>
    <string>u12E0</string>
    <string>u12E1</string>
    <string>u12E2</string>
    <string>u12E3</string>
    <string>u12E4</string>
    <string>u12E5</string>
    <string>u12E6</string>
    <string>u12E7</string>
    <string>uAB15</string>
  </array>
  <key>public.kern2.u12E8</key>
  <array>
    <string>u12E8</string>
    <string>u12E9</string>
    <string>u12EA</string>
    <string>u12EC</string>
    <string>u12EE</string>
  </array>
  <key>public.kern2.u12F0_2</key>
  <array>
    <string>u12F0</string>
    <string>u12F5</string>
    <string>u12F7</string>
    <string>u12F8</string>
    <string>u12FD</string>
    <string>u12FF</string>
    <string>u1300</string>
    <string>u1304</string>
    <string>u1305</string>
    <string>u1307</string>
    <string>uAB0D</string>
  </array>
  <key>public.kern2.u12F1_2</key>
  <array>
    <string>u12F1</string>
    <string>u12F2</string>
    <string>u12F3</string>
    <string>u12F9</string>
    <string>u12FA</string>
    <string>u12FB</string>
    <string>u1301</string>
    <string>u1302</string>
    <string>u1303</string>
    <string>uAB09</string>
    <string>uAB0A</string>
    <string>uAB0B</string>
  </array>
  <key>public.kern2.u12F4_2</key>
  <array>
    <string>u12F4</string>
    <string>u12FC</string>
    <string>uAB0C</string>
  </array>
  <key>public.kern2.u12F6_2</key>
  <array>
    <string>u12F6</string>
    <string>u12FE</string>
    <string>u1306</string>
    <string>uAB0E</string>
  </array>
  <key>public.kern2.u1308_2</key>
  <array>
    <string>u1308</string>
    <string>u1309</string>
    <string>u130A</string>
    <string>u130C</string>
    <string>u130E</string>
    <string>u1310</string>
    <string>u1312</string>
    <string>u1315</string>
    <string>u1318</string>
    <string>u1319</string>
    <string>u131A</string>
    <string>u131C</string>
    <string>u1E7F8</string>
    <string>u1E7F9</string>
    <string>u2D93</string>
    <string>u2D94</string>
    <string>u2D96</string>
    <string>u2DD8</string>
    <string>u2DD9</string>
    <string>u2DDA</string>
    <string>u2DDC</string>
  </array>
  <key>public.kern2.u130B_2</key>
  <array>
    <string>u130B</string>
    <string>u131B</string>
    <string>u2DDB</string>
  </array>
  <key>public.kern2.u130D_2</key>
  <array>
    <string>u130D</string>
    <string>u1E7FA</string>
    <string>u2DDD</string>
  </array>
  <key>public.kern2.u1314</key>
  <array>
    <string>u1314</string>
    <string>u2D95</string>
  </array>
  <key>public.kern2.u1320</key>
  <array>
    <string>u1320</string>
    <string>u1321</string>
    <string>u1322</string>
    <string>u1324</string>
  </array>
  <key>public.kern2.u1328_2</key>
  <array>
    <string>u1328</string>
    <string>u1329</string>
    <string>u132A</string>
    <string>u132C</string>
    <string>u132E</string>
    <string>uAB20</string>
    <string>uAB21</string>
    <string>uAB22</string>
    <string>uAB24</string>
    <string>uAB26</string>
  </array>
  <key>public.kern2.u132B_2</key>
  <array>
    <string>u132B</string>
    <string>u132D</string>
    <string>u132F</string>
    <string>uAB23</string>
    <string>uAB25</string>
  </array>
  <key>public.kern2.u1330_2</key>
  <array>
    <string>u1330</string>
    <string>u1331</string>
    <string>u1332</string>
    <string>u1334</string>
    <string>u1335</string>
    <string>u1336</string>
    <string>u1338</string>
    <string>u1339</string>
    <string>u133A</string>
    <string>u133C</string>
    <string>u133D</string>
    <string>u133E</string>
    <string>uAB28</string>
    <string>uAB29</string>
    <string>uAB2A</string>
    <string>uAB2C</string>
    <string>uAB2D</string>
    <string>uAB2E</string>
  </array>
  <key>public.kern2.u1333</key>
  <array>
    <string>u1333</string>
    <string>u1337</string>
    <string>u133B</string>
    <string>u133F</string>
    <string>uAB2B</string>
  </array>
  <key>public.kern2.u1342</key>
  <array>
    <string>u1342</string>
    <string>u1343</string>
    <string>u1344</string>
  </array>
  <key>public.kern2.u1348</key>
  <array>
    <string>u1348</string>
    <string>u134A</string>
    <string>u134C</string>
    <string>u1388</string>
    <string>u1389</string>
  </array>
  <key>public.kern2.u1349</key>
  <array>
    <string>u1349</string>
    <string>u134B</string>
    <string>u138A</string>
  </array>
  <key>public.kern2.u1350_2</key>
  <array>
    <string>u1350</string>
    <string>u1351</string>
    <string>u1352</string>
    <string>u1354</string>
    <string>u1355</string>
    <string>u138C</string>
    <string>u138D</string>
    <string>u138F</string>
    <string>u1E7FD</string>
    <string>u1E7FE</string>
  </array>
  <key>public.kern2.u1361</key>
  <array>
    <string>u1361</string>
    <string>u1362</string>
    <string>u1363</string>
    <string>u1365</string>
    <string>u1366</string>
    <string>u1368</string>
    <string>u1393</string>
    <string>u1399</string>
  </array>
  <key>public.kern2.u1390_2</key>
  <array>
    <string>u1390</string>
    <string>u1391</string>
    <string>u1394</string>
    <string>u1395</string>
    <string>u1396</string>
    <string>u1397</string>
    <string>u1398</string>
  </array>
  <key>public.kern2.u2DD0</key>
  <array>
    <string>u2DD0</string>
    <string>u2DD1</string>
    <string>u2DD2</string>
    <string>u2DD4</string>
    <string>u2DD5</string>
    <string>u2DD6</string>
  </array>
</dict>
</plist>
