<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>public.openTypeMeta</key>
  <dict>
    <key>dlng</key>
    <array>
      <string>Ethi</string>
    </array>
    <key>slng</key>
    <array>
      <string>Ethi</string>
    </array>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>uni00A0</string>
    <string>u1200</string>
    <string>u1201</string>
    <string>u1202</string>
    <string>u1203</string>
    <string>u1204</string>
    <string>u1205</string>
    <string>u1206</string>
    <string>u1207</string>
    <string>u128B.alt1</string>
    <string>u1208</string>
    <string>u1209</string>
    <string>u120A</string>
    <string>u120B</string>
    <string>u120C</string>
    <string>u120D</string>
    <string>u120E</string>
    <string>u2D80</string>
    <string>u120F</string>
    <string>u1210</string>
    <string>u1211</string>
    <string>u1212</string>
    <string>u1213</string>
    <string>u1214</string>
    <string>u1215</string>
    <string>u1216</string>
    <string>u1217</string>
    <string>u1E7E8</string>
    <string>u1E7E9</string>
    <string>u1E7EA</string>
    <string>u1E7EB</string>
    <string>u1E7E0</string>
    <string>u1E7E1</string>
    <string>u1E7E2</string>
    <string>u1E7E3</string>
    <string>u1E7E4</string>
    <string>u1E7E5</string>
    <string>u1E7E6</string>
    <string>u1218</string>
    <string>u1219</string>
    <string>u121A</string>
    <string>u121B</string>
    <string>u121C</string>
    <string>u121D</string>
    <string>u121E</string>
    <string>u2D81</string>
    <string>u1380</string>
    <string>u1E7ED</string>
    <string>u1381</string>
    <string>u121F</string>
    <string>u1382</string>
    <string>u1E7EE</string>
    <string>u1383</string>
    <string>u1359</string>
    <string>u1220</string>
    <string>u1221</string>
    <string>u1222</string>
    <string>u1223</string>
    <string>u1224</string>
    <string>u1225</string>
    <string>u1226</string>
    <string>u1227</string>
    <string>u1228</string>
    <string>u1229</string>
    <string>u122A</string>
    <string>u122B</string>
    <string>u122C</string>
    <string>u122D</string>
    <string>u122E</string>
    <string>u2D82</string>
    <string>u122F</string>
    <string>u1358</string>
    <string>u1230</string>
    <string>u1231</string>
    <string>u1232</string>
    <string>u1233</string>
    <string>u1234</string>
    <string>u1235</string>
    <string>u1236</string>
    <string>u2D83</string>
    <string>u1237</string>
    <string>uAB01</string>
    <string>uAB02</string>
    <string>uAB03</string>
    <string>uAB04</string>
    <string>uAB05</string>
    <string>uAB06</string>
    <string>u1238</string>
    <string>u1239</string>
    <string>u123A</string>
    <string>u123B</string>
    <string>u123C</string>
    <string>u123D</string>
    <string>u123E</string>
    <string>u123F</string>
    <string>u2D84</string>
    <string>u2DA0</string>
    <string>u2DA1</string>
    <string>u2DA2</string>
    <string>u2DA3</string>
    <string>u2DA4</string>
    <string>u2DA5</string>
    <string>u2DA6</string>
    <string>u1240</string>
    <string>u1241</string>
    <string>u1242</string>
    <string>u1243</string>
    <string>u1244</string>
    <string>u1245</string>
    <string>u1246</string>
    <string>u1247</string>
    <string>u1248</string>
    <string>u124A</string>
    <string>u124B</string>
    <string>u124C</string>
    <string>u124D</string>
    <string>u1E7F0</string>
    <string>u1E7F1</string>
    <string>u1E7F2</string>
    <string>u2DC0</string>
    <string>u2DC1</string>
    <string>u2DC2</string>
    <string>u2DC3</string>
    <string>u2DC4</string>
    <string>u2DC5</string>
    <string>u2DC6</string>
    <string>u1250</string>
    <string>u1251</string>
    <string>u1252</string>
    <string>u1253</string>
    <string>u1254</string>
    <string>u1255</string>
    <string>u1256</string>
    <string>u1258</string>
    <string>u125A</string>
    <string>u125B</string>
    <string>u125C</string>
    <string>u125D</string>
    <string>u1260</string>
    <string>u1261</string>
    <string>u1262</string>
    <string>u1263</string>
    <string>u1264</string>
    <string>u1265</string>
    <string>u1266</string>
    <string>u2D85</string>
    <string>u1384</string>
    <string>u1385</string>
    <string>u1267</string>
    <string>u1386</string>
    <string>u1387</string>
    <string>u1E7F3</string>
    <string>u1E7F4</string>
    <string>u1268</string>
    <string>u1269</string>
    <string>u126A</string>
    <string>u126B</string>
    <string>u126C</string>
    <string>u126D</string>
    <string>u126E</string>
    <string>u126F</string>
    <string>u1270</string>
    <string>u1271</string>
    <string>u1272</string>
    <string>u1273</string>
    <string>u1274</string>
    <string>u1275</string>
    <string>u1276</string>
    <string>u1277</string>
    <string>u2D86</string>
    <string>u1278</string>
    <string>u1279</string>
    <string>u127A</string>
    <string>u127B</string>
    <string>u127C</string>
    <string>u127D</string>
    <string>u127E</string>
    <string>u2D87</string>
    <string>u127F</string>
    <string>u2DA8</string>
    <string>u2DA9</string>
    <string>u2DAA</string>
    <string>u2DAB</string>
    <string>u2DAC</string>
    <string>u2DAD</string>
    <string>u2DAE</string>
    <string>u1280</string>
    <string>u1281</string>
    <string>u1282</string>
    <string>u1283</string>
    <string>u1284</string>
    <string>u1285</string>
    <string>u1286</string>
    <string>u1287</string>
    <string>u1288</string>
    <string>u128A</string>
    <string>u128B</string>
    <string>u128C</string>
    <string>u128D</string>
    <string>u1290</string>
    <string>u1291</string>
    <string>u1292</string>
    <string>u1293</string>
    <string>u1294</string>
    <string>u1295</string>
    <string>u1296</string>
    <string>u2D88</string>
    <string>u1297</string>
    <string>u1298</string>
    <string>u1299</string>
    <string>u129A</string>
    <string>u129B</string>
    <string>u129C</string>
    <string>u129D</string>
    <string>u129E</string>
    <string>u129F</string>
    <string>u2D89</string>
    <string>u12A0</string>
    <string>u12A1</string>
    <string>u12A2</string>
    <string>u12A3</string>
    <string>u12A4</string>
    <string>u12A5</string>
    <string>u12A6</string>
    <string>u2D8A</string>
    <string>u12A7</string>
    <string>u12A8</string>
    <string>u12A9</string>
    <string>u12AA</string>
    <string>u12AB</string>
    <string>u12AC</string>
    <string>u12AD</string>
    <string>u12AE</string>
    <string>u12AF</string>
    <string>u12B0</string>
    <string>u12B2</string>
    <string>u12B3</string>
    <string>u12B4</string>
    <string>u12B5</string>
    <string>u1E7F5</string>
    <string>u1E7F6</string>
    <string>u1E7F7</string>
    <string>u2DC8</string>
    <string>u2DC9</string>
    <string>u2DCA</string>
    <string>u2DCB</string>
    <string>u2DCC</string>
    <string>u2DCD</string>
    <string>u2DCE</string>
    <string>u12B8</string>
    <string>u12B9</string>
    <string>u12BA</string>
    <string>u12BB</string>
    <string>u12BC</string>
    <string>u12BD</string>
    <string>u12BE</string>
    <string>u12C0</string>
    <string>u12C2</string>
    <string>u12C3</string>
    <string>u12C4</string>
    <string>u12C5</string>
    <string>u2DD0</string>
    <string>u2DD1</string>
    <string>u2DD2</string>
    <string>u2DD3</string>
    <string>u2DD4</string>
    <string>u2DD5</string>
    <string>u2DD6</string>
    <string>u12C8</string>
    <string>u12C9</string>
    <string>u12CA</string>
    <string>u12CB</string>
    <string>u12CC</string>
    <string>u12CD</string>
    <string>u12CE</string>
    <string>u12CF</string>
    <string>u12D0</string>
    <string>u12D1</string>
    <string>u12D2</string>
    <string>u12D3</string>
    <string>u12D4</string>
    <string>u12D5</string>
    <string>u12D6</string>
    <string>u12D8</string>
    <string>u12D9</string>
    <string>u12DA</string>
    <string>u12DB</string>
    <string>u12DC</string>
    <string>u12DD</string>
    <string>u12DE</string>
    <string>u12DF</string>
    <string>u2D8B</string>
    <string>uAB10</string>
    <string>uAB11</string>
    <string>uAB12</string>
    <string>uAB13</string>
    <string>uAB14</string>
    <string>uAB15</string>
    <string>uAB16</string>
    <string>u12E0</string>
    <string>u12E1</string>
    <string>u12E2</string>
    <string>u12E3</string>
    <string>u12E4</string>
    <string>u12E5</string>
    <string>u12E6</string>
    <string>u12E7</string>
    <string>u2DB0</string>
    <string>u2DB1</string>
    <string>u2DB2</string>
    <string>u2DB3</string>
    <string>u2DB4</string>
    <string>u2DB5</string>
    <string>u2DB6</string>
    <string>u12E8</string>
    <string>u12E9</string>
    <string>u12EA</string>
    <string>u12EB</string>
    <string>u12EC</string>
    <string>u12ED</string>
    <string>u12EE</string>
    <string>u12EF</string>
    <string>u12F0</string>
    <string>u12F1</string>
    <string>u12F2</string>
    <string>u12F3</string>
    <string>u12F4</string>
    <string>u12F5</string>
    <string>u12F6</string>
    <string>u12F7</string>
    <string>u2D8C</string>
    <string>u12F8</string>
    <string>u12F9</string>
    <string>u12FA</string>
    <string>u12FB</string>
    <string>u12FC</string>
    <string>u12FD</string>
    <string>u12FE</string>
    <string>u12FF</string>
    <string>u2D8D</string>
    <string>uAB09</string>
    <string>uAB0A</string>
    <string>uAB0B</string>
    <string>uAB0C</string>
    <string>uAB0D</string>
    <string>uAB0E</string>
    <string>u1300</string>
    <string>u1301</string>
    <string>u1302</string>
    <string>u1303</string>
    <string>u1304</string>
    <string>u1305</string>
    <string>u1306</string>
    <string>u1307</string>
    <string>u2D8E</string>
    <string>u1308</string>
    <string>u1309</string>
    <string>u130A</string>
    <string>u130B</string>
    <string>u130C</string>
    <string>u130D</string>
    <string>u130E</string>
    <string>u130F</string>
    <string>u1310</string>
    <string>u1312</string>
    <string>u1313</string>
    <string>u1314</string>
    <string>u1315</string>
    <string>u1E7F8</string>
    <string>u1E7F9</string>
    <string>u1E7FA</string>
    <string>u2DD8</string>
    <string>u2DD9</string>
    <string>u2DDA</string>
    <string>u2DDB</string>
    <string>u2DDC</string>
    <string>u2DDD</string>
    <string>u2DDE</string>
    <string>u1318</string>
    <string>u1319</string>
    <string>u131A</string>
    <string>u131B</string>
    <string>u131C</string>
    <string>u131D</string>
    <string>u131E</string>
    <string>u2D93</string>
    <string>u2D94</string>
    <string>u131F</string>
    <string>u2D95</string>
    <string>u2D96</string>
    <string>u1320</string>
    <string>u1321</string>
    <string>u1322</string>
    <string>u1323</string>
    <string>u1324</string>
    <string>u1325</string>
    <string>u1326</string>
    <string>u1327</string>
    <string>u2D8F</string>
    <string>u1328</string>
    <string>u1329</string>
    <string>u132A</string>
    <string>u132B</string>
    <string>u132C</string>
    <string>u132D</string>
    <string>u132E</string>
    <string>u132F</string>
    <string>u2D90</string>
    <string>u2DB8</string>
    <string>u2DB9</string>
    <string>u2DBA</string>
    <string>u2DBB</string>
    <string>u2DBC</string>
    <string>u2DBD</string>
    <string>u2DBE</string>
    <string>uAB20</string>
    <string>uAB21</string>
    <string>uAB22</string>
    <string>uAB23</string>
    <string>uAB24</string>
    <string>uAB25</string>
    <string>uAB26</string>
    <string>u1330</string>
    <string>u1331</string>
    <string>u1332</string>
    <string>u1333</string>
    <string>u1334</string>
    <string>u1335</string>
    <string>u1336</string>
    <string>u1337</string>
    <string>u2D91</string>
    <string>u1338</string>
    <string>u1339</string>
    <string>u133A</string>
    <string>u133B</string>
    <string>u133C</string>
    <string>u133D</string>
    <string>u133E</string>
    <string>u133F</string>
    <string>uAB28</string>
    <string>uAB29</string>
    <string>uAB2A</string>
    <string>uAB2B</string>
    <string>uAB2C</string>
    <string>uAB2D</string>
    <string>uAB2E</string>
    <string>u1340</string>
    <string>u1341</string>
    <string>u1342</string>
    <string>u1343</string>
    <string>u1344</string>
    <string>u1345</string>
    <string>u1346</string>
    <string>u1347</string>
    <string>u1348</string>
    <string>u1349</string>
    <string>u134A</string>
    <string>u134B</string>
    <string>u134C</string>
    <string>u134D</string>
    <string>u134E</string>
    <string>u134F</string>
    <string>u1388</string>
    <string>u1389</string>
    <string>u138A</string>
    <string>u138B</string>
    <string>u1E7FB</string>
    <string>u1E7FC</string>
    <string>u135A</string>
    <string>u1350</string>
    <string>u1351</string>
    <string>u1352</string>
    <string>u1353</string>
    <string>u1354</string>
    <string>u1355</string>
    <string>u1356</string>
    <string>u2D92</string>
    <string>u1357</string>
    <string>u138C</string>
    <string>u138D</string>
    <string>u138E</string>
    <string>u138F</string>
    <string>u1E7FD</string>
    <string>u1E7FE</string>
    <string>u1390</string>
    <string>u135E</string>
    <string>u1393</string>
    <string>u1361</string>
    <string>u1362</string>
    <string>u135F</string>
    <string>u1392</string>
    <string>u1367</string>
    <string>u135D</string>
    <string>u1368</string>
    <string>u1360</string>
    <string>u1363</string>
    <string>u1364</string>
    <string>u1366</string>
    <string>u1365</string>
    <string>u1397</string>
    <string>u1391</string>
    <string>u1394</string>
    <string>u1395</string>
    <string>u1396</string>
    <string>u1398</string>
    <string>u1399</string>
    <string>u1369</string>
    <string>u136A</string>
    <string>u136B</string>
    <string>u136C</string>
    <string>u136D</string>
    <string>u136E</string>
    <string>u136F</string>
    <string>u1370</string>
    <string>u1371</string>
    <string>u1372</string>
    <string>u1373</string>
    <string>u1374</string>
    <string>u1375</string>
    <string>u1376</string>
    <string>u1377</string>
    <string>u1378</string>
    <string>u1379</string>
    <string>u137A</string>
    <string>u137B</string>
    <string>u137C</string>
    <string>u2028</string>
    <string>u2029</string>
    <string>u25CC</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>logicalnot</string>
    <string>softhyphen</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>micro</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>Amacron</string>
    <string>amacron</string>
    <string>Abreve</string>
    <string>abreve</string>
    <string>Aogonek</string>
    <string>aogonek</string>
    <string>Cacute</string>
    <string>cacute</string>
    <string>Ccircumflex</string>
    <string>ccircumflex</string>
    <string>Cdotaccent</string>
    <string>cdotaccent</string>
    <string>Ccaron</string>
    <string>ccaron</string>
    <string>Dcaron</string>
    <string>dcaron</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>Emacron</string>
    <string>emacron</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Edotaccent</string>
    <string>edotaccent</string>
    <string>Eogonek</string>
    <string>eogonek</string>
    <string>Ecaron</string>
    <string>ecaron</string>
    <string>Gcircumflex</string>
    <string>gcircumflex</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>Gdotaccent</string>
    <string>gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>gcommaaccent</string>
    <string>Hcircumflex</string>
    <string>hcircumflex</string>
    <string>Hbar</string>
    <string>hbar</string>
    <string>Itilde</string>
    <string>itilde</string>
    <string>Imacron</string>
    <string>imacron</string>
    <string>Ibreve</string>
    <string>ibreve</string>
    <string>Iogonek</string>
    <string>iogonek</string>
    <string>Idotaccent</string>
    <string>dotlessi</string>
    <string>IJ</string>
    <string>ij</string>
    <string>Jcircumflex</string>
    <string>jcircumflex</string>
    <string>Kcommaaccent</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>Lacute</string>
    <string>lacute</string>
    <string>Lcommaaccent</string>
    <string>lcommaaccent</string>
    <string>Lcaron</string>
    <string>lcaron</string>
    <string>Ldot</string>
    <string>ldot</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Nacute</string>
    <string>nacute</string>
    <string>Ncommaaccent</string>
    <string>ncommaaccent</string>
    <string>Ncaron</string>
    <string>ncaron</string>
    <string>napostrophe</string>
    <string>Eng</string>
    <string>eng</string>
    <string>Omacron</string>
    <string>omacron</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Ohungarumlaut</string>
    <string>ohungarumlaut</string>
    <string>OE</string>
    <string>oe</string>
    <string>Racute</string>
    <string>racute</string>
    <string>Rcommaaccent</string>
    <string>rcommaaccent</string>
    <string>Rcaron</string>
    <string>rcaron</string>
    <string>Sacute</string>
    <string>sacute</string>
    <string>Scircumflex</string>
    <string>scircumflex</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Tcedilla</string>
    <string>tcedilla</string>
    <string>Tcaron</string>
    <string>tcaron</string>
    <string>Tbar</string>
    <string>tbar</string>
    <string>Utilde</string>
    <string>utilde</string>
    <string>Umacron</string>
    <string>umacron</string>
    <string>Ubreve</string>
    <string>ubreve</string>
    <string>Uring</string>
    <string>uring</string>
    <string>Uhungarumlaut</string>
    <string>uhungarumlaut</string>
    <string>Uogonek</string>
    <string>uogonek</string>
    <string>Wcircumflex</string>
    <string>wcircumflex</string>
    <string>Ycircumflex</string>
    <string>ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>zacute</string>
    <string>Zdotaccent</string>
    <string>zdotaccent</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>longs</string>
    <string>bstroke</string>
    <string>Bhook</string>
    <string>Btopbar</string>
    <string>btopbar</string>
    <string>Tonesix</string>
    <string>tonesix</string>
    <string>Oopen</string>
    <string>Chook</string>
    <string>chook</string>
    <string>Dafrican</string>
    <string>Dhook</string>
    <string>Dtopbar</string>
    <string>dtopbar</string>
    <string>deltaturned</string>
    <string>Ereversed</string>
    <string>Schwa</string>
    <string>Eopen</string>
    <string>Fhook</string>
    <string>florin</string>
    <string>Ghook</string>
    <string>Gamma-lt</string>
    <string>hv</string>
    <string>Iotaafrican</string>
    <string>Istroke</string>
    <string>Khook</string>
    <string>khook</string>
    <string>lbar</string>
    <string>lambdastroke</string>
    <string>Mturned</string>
    <string>Nhookleft</string>
    <string>nlongrightleg</string>
    <string>Obar</string>
    <string>Ohorn</string>
    <string>ohorn</string>
    <string>Oi</string>
    <string>oi</string>
    <string>Phook</string>
    <string>phook</string>
    <string>yr</string>
    <string>Tonetwo</string>
    <string>tonetwo</string>
    <string>Esh</string>
    <string>eshreversedloop</string>
    <string>tpalatalhook</string>
    <string>Thook</string>
    <string>thook</string>
    <string>Tretroflexhook</string>
    <string>Uhorn</string>
    <string>uhorn</string>
    <string>Upsilonafrican</string>
    <string>Vhook</string>
    <string>Yhook</string>
    <string>yhook</string>
    <string>Zstroke</string>
    <string>zstroke</string>
    <string>Ezh</string>
    <string>Ezhreversed</string>
    <string>ezhreversed</string>
    <string>ezhtail</string>
    <string>twostroke</string>
    <string>Tonefive</string>
    <string>tonefive</string>
    <string>glottalinvertedstroke</string>
    <string>wynn</string>
    <string>clickdental</string>
    <string>clicklateral</string>
    <string>clickalveolar</string>
    <string>clickretroflex</string>
    <string>DZcaron</string>
    <string>Dzcaron</string>
    <string>dzcaron</string>
    <string>LJ</string>
    <string>Lj</string>
    <string>lj</string>
    <string>NJ</string>
    <string>Nj</string>
    <string>nj</string>
    <string>Acaron</string>
    <string>acaron</string>
    <string>Icaron</string>
    <string>icaron</string>
    <string>Ocaron</string>
    <string>ocaron</string>
    <string>Ucaron</string>
    <string>ucaron</string>
    <string>Udieresismacron</string>
    <string>udieresismacron</string>
    <string>Udieresisacute</string>
    <string>udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>udieresisgrave</string>
    <string>eturned</string>
    <string>Adieresismacron</string>
    <string>adieresismacron</string>
    <string>Adotmacron</string>
    <string>adotmacron</string>
    <string>AEmacron</string>
    <string>aemacron</string>
    <string>Gstroke</string>
    <string>gstroke</string>
    <string>Gcaron</string>
    <string>gcaron</string>
    <string>Kcaron</string>
    <string>kcaron</string>
    <string>Oogonek</string>
    <string>oogonek</string>
    <string>Oogonekmacron</string>
    <string>oogonekmacron</string>
    <string>Ezhcaron</string>
    <string>ezhcaron</string>
    <string>jcaron</string>
    <string>DZ</string>
    <string>Dz</string>
    <string>dz</string>
    <string>Gacute</string>
    <string>gacute</string>
    <string>Hwair</string>
    <string>Wynn</string>
    <string>Ngrave</string>
    <string>ngrave</string>
    <string>Aringacute</string>
    <string>aringacute</string>
    <string>AEacute</string>
    <string>aeacute</string>
    <string>Oslashacute</string>
    <string>oslashacute</string>
    <string>Adblgrave</string>
    <string>adblgrave</string>
    <string>Ainvertedbreve</string>
    <string>ainvertedbreve</string>
    <string>Edblgrave</string>
    <string>edblgrave</string>
    <string>Einvertedbreve</string>
    <string>einvertedbreve</string>
    <string>Idblgrave</string>
    <string>idblgrave</string>
    <string>Iinvertedbreve</string>
    <string>iinvertedbreve</string>
    <string>Odblgrave</string>
    <string>odblgrave</string>
    <string>Oinvertedbreve</string>
    <string>oinvertedbreve</string>
    <string>Rdblgrave</string>
    <string>rdblgrave</string>
    <string>Rinvertedbreve</string>
    <string>rinvertedbreve</string>
    <string>Udblgrave</string>
    <string>udblgrave</string>
    <string>Uinvertedbreve</string>
    <string>uinvertedbreve</string>
    <string>Scommaaccent</string>
    <string>scommaaccent</string>
    <string>Tcommaaccent</string>
    <string>tcommaaccent</string>
    <string>Yogh</string>
    <string>yogh</string>
    <string>Hcaron</string>
    <string>hcaron</string>
    <string>Nlongrightleg</string>
    <string>dcurl</string>
    <string>Ou</string>
    <string>ou</string>
    <string>Zhook</string>
    <string>zhook</string>
    <string>Adotaccent</string>
    <string>adotaccent</string>
    <string>Ecedilla</string>
    <string>ecedilla</string>
    <string>Odieresismacron</string>
    <string>odieresismacron</string>
    <string>Otildemacron</string>
    <string>otildemacron</string>
    <string>Odotaccent</string>
    <string>odotaccent</string>
    <string>Odotaccentmacron</string>
    <string>odotaccentmacron</string>
    <string>Ymacron</string>
    <string>ymacron</string>
    <string>lcurl</string>
    <string>ncurl</string>
    <string>tcurl</string>
    <string>dotlessj</string>
    <string>dbdigraph</string>
    <string>qpdigraph</string>
    <string>Astroke</string>
    <string>Cstroke</string>
    <string>cstroke</string>
    <string>Lbar</string>
    <string>Tdiagonalstroke</string>
    <string>sswashtail</string>
    <string>zswashtail</string>
    <string>Glottalstop</string>
    <string>glottalstopsmall</string>
    <string>Bstroke</string>
    <string>Ubar</string>
    <string>Vturned</string>
    <string>Estroke</string>
    <string>estroke</string>
    <string>Jstroke</string>
    <string>jstroke</string>
    <string>Qsmallhooktail</string>
    <string>qhooktail</string>
    <string>Rstroke</string>
    <string>rstroke</string>
    <string>Ystroke</string>
    <string>ystroke</string>
    <string>aturned</string>
    <string>alpha-ipa</string>
    <string>alphaturned</string>
    <string>bhook</string>
    <string>oopen</string>
    <string>ccurl</string>
    <string>dtail</string>
    <string>dhook</string>
    <string>ereversed-ipa</string>
    <string>schwa</string>
    <string>schwahook</string>
    <string>eopen</string>
    <string>eopenreversed</string>
    <string>eopenreversedhook</string>
    <string>eopenreversedclosed</string>
    <string>dotlessjstroke</string>
    <string>ghook</string>
    <string>gscript-ipa</string>
    <string>Gsmall</string>
    <string>gamma-ipa</string>
    <string>ramshorn</string>
    <string>hturned</string>
    <string>hhook</string>
    <string>henghook</string>
    <string>istroke</string>
    <string>iota-ipa</string>
    <string>Ismall</string>
    <string>lmiddletilde</string>
    <string>lbelt</string>
    <string>lhookretroflex</string>
    <string>lezh</string>
    <string>mturned</string>
    <string>mlonglegturned</string>
    <string>mhook</string>
    <string>nhookleft</string>
    <string>nhookretroflex</string>
    <string>Nsmall</string>
    <string>obarred</string>
    <string>OEsmall</string>
    <string>omegaclosed</string>
    <string>phi-ipa</string>
    <string>rturned</string>
    <string>rlonglegturned</string>
    <string>rhookturned</string>
    <string>rlongleg</string>
    <string>rtail-ipa</string>
    <string>rfishhook</string>
    <string>rfishhookreversed</string>
    <string>Rsmall</string>
    <string>Rinvertedsmall</string>
    <string>shook</string>
    <string>esh</string>
    <string>dotlessjstrokehook</string>
    <string>eshsquatreversed</string>
    <string>eshcurl</string>
    <string>tturned</string>
    <string>tretroflexhook</string>
    <string>ubar</string>
    <string>upsilon-ipa</string>
    <string>vhook</string>
    <string>vturned</string>
    <string>wturned</string>
    <string>yturned</string>
    <string>Ysmall</string>
    <string>zretroflexhook</string>
    <string>zcurl</string>
    <string>ezh</string>
    <string>ezhcurl</string>
    <string>glottalstop</string>
    <string>pharyngealvoicedfricative</string>
    <string>glottalstopinverted</string>
    <string>Cstretched</string>
    <string>clickbilabial</string>
    <string>Bsmall</string>
    <string>eopenclosed</string>
    <string>Ghooksmall</string>
    <string>Hsmall</string>
    <string>jcrossedtail</string>
    <string>kturned</string>
    <string>Lsmall</string>
    <string>qhook</string>
    <string>glottalstopstroke</string>
    <string>glottalstopstrokereversed</string>
    <string>dzed</string>
    <string>dezh</string>
    <string>dzedcurl</string>
    <string>ts</string>
    <string>tesh</string>
    <string>tccurl</string>
    <string>feng</string>
    <string>ls</string>
    <string>lzed</string>
    <string>percussivebilabial</string>
    <string>percussivebidental</string>
    <string>hfishhookturned</string>
    <string>handtailfishhookturned</string>
    <string>hsupmod</string>
    <string>hhooksupmod</string>
    <string>jsupmod</string>
    <string>rsupmod</string>
    <string>rturnedsupmod</string>
    <string>rhookturnedsupmod</string>
    <string>Rsupinvertedmod</string>
    <string>wsupmod</string>
    <string>ysupmod</string>
    <string>primemod</string>
    <string>primedblmod</string>
    <string>commaturnedmod</string>
    <string>apostrophemod</string>
    <string>commareversedmod</string>
    <string>ringhalfrightmod</string>
    <string>ringhalfleftmod</string>
    <string>glottalstopmod</string>
    <string>glottalstopreversedmod</string>
    <string>arrowheadleftmod</string>
    <string>arrowheadrightmod</string>
    <string>arrowheadupmod</string>
    <string>arrowheaddownmod</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>verticallinemod</string>
    <string>macronmod</string>
    <string>acutemod</string>
    <string>gravemod</string>
    <string>verticallinelowmod</string>
    <string>macronlowmod</string>
    <string>gravelowmod</string>
    <string>acutelowmod</string>
    <string>colontriangularmod</string>
    <string>colontriangularhalfmod</string>
    <string>ringhalfrightcentredmod</string>
    <string>ringhalfleftcentredmod</string>
    <string>tackupmod</string>
    <string>tackdownmod</string>
    <string>plussignmod</string>
    <string>minussignmod</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>rhotichookmod</string>
    <string>crossmod</string>
    <string>gammasupmod</string>
    <string>lsupmod</string>
    <string>ssupmod</string>
    <string>xsupmod</string>
    <string>glottalstopsupreversedmod</string>
    <string>tonebarextrahighmod</string>
    <string>tonebarhighmod</string>
    <string>tonebarmidmod</string>
    <string>tonebarlowmod</string>
    <string>tonebarextralowmod</string>
    <string>yintonemod</string>
    <string>yangtonemod</string>
    <string>voicingmod</string>
    <string>unaspiratedmod</string>
    <string>apostrophedblmod</string>
    <string>arrowheaddownlowmod</string>
    <string>arrowheaduplowmod</string>
    <string>arrowheadleftlowmod</string>
    <string>arrowheadrightlowmod</string>
    <string>ringlowmod</string>
    <string>gravemiddlemod</string>
    <string>gravedblmiddlemod</string>
    <string>acutedblmiddlemod</string>
    <string>tildelowmod</string>
    <string>colonraisedmod</string>
    <string>tonehighbeginmod</string>
    <string>tonehighendmod</string>
    <string>tonelowbeginmod</string>
    <string>tonelowendmod</string>
    <string>shelfmod</string>
    <string>shelfopenmod</string>
    <string>arrowleftlowmod</string>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>circumflexcomb</string>
    <string>tildecomb</string>
    <string>macroncomb</string>
    <string>overlinecomb</string>
    <string>brevecomb</string>
    <string>dotaccentcomb</string>
    <string>dieresiscomb</string>
    <string>hookabovecomb</string>
    <string>ringcomb</string>
    <string>hungarumlautcomb</string>
    <string>caroncomb</string>
    <string>vlinecomb</string>
    <string>dblvlinecomb</string>
    <string>dblgravecomb</string>
    <string>candraBinducomb</string>
    <string>breveinvertedcomb</string>
    <string>commaturnedabovecomb</string>
    <string>commaabovecomb</string>
    <string>commareversedabovecomb</string>
    <string>commaaboverightcomb</string>
    <string>gravebelowcomb</string>
    <string>acutebelowcomb</string>
    <string>lefttackbelowcomb</string>
    <string>righttackbelowcomb</string>
    <string>leftangleabovecomb</string>
    <string>horncomb</string>
    <string>ringhalfleftbelowcomb</string>
    <string>uptackbelowcomb</string>
    <string>downtackbelowcomb</string>
    <string>plusbelowcomb</string>
    <string>minusbelowcomb</string>
    <string>palatalhookcomb</string>
    <string>retroflexhookcomb</string>
    <string>dotbelowcomb</string>
    <string>dieresisbelowcomb</string>
    <string>ringbelowcomb</string>
    <string>commaaccentcomb</string>
    <string>cedillacomb</string>
    <string>ogonekcomb</string>
    <string>vlinebelowcomb</string>
    <string>bridgebelowcomb</string>
    <string>dblarchinvertedbelowcomb</string>
    <string>caronbelowcomb</string>
    <string>circumflexbelowcomb</string>
    <string>brevebelowcomb</string>
    <string>breveinvertedbelowcomb</string>
    <string>tildebelowcomb</string>
    <string>macronbelowcomb</string>
    <string>lowlinecomb</string>
    <string>dbllowlinecomb</string>
    <string>tildeoverlaycomb</string>
    <string>strokeshortcomb</string>
    <string>strokelongcomb</string>
    <string>slashshortcomb</string>
    <string>slashlongcomb</string>
    <string>ringhalfrightbelowcomb</string>
    <string>bridgeinvertedbelowcomb</string>
    <string>squarebelowcomb</string>
    <string>seagullbelowcomb</string>
    <string>xabovecomb</string>
    <string>tildeverticalcomb</string>
    <string>dbloverlinecomb</string>
    <string>gravetonecomb</string>
    <string>acutetonecomb</string>
    <string>perispomenicomb</string>
    <string>koroniscomb</string>
    <string>dialytikatonoscomb</string>
    <string>iotasubcomb</string>
    <string>bridgecomb</string>
    <string>equalbelowcomb</string>
    <string>dblvlinebelowcomb</string>
    <string>leftanglebelowcomb</string>
    <string>nottildeabovecomb</string>
    <string>homotheticabovecomb</string>
    <string>almostequaltoabovecomb</string>
    <string>arrowleftrightbelowcomb</string>
    <string>arrowupbelowcomb</string>
    <string>graphemejoinercomb</string>
    <string>arrowheadrightabovecomb</string>
    <string>lefthalfringabovecomb</string>
    <string>fermatacomb</string>
    <string>xbelowcomb</string>
    <string>arrowheadleftbelowcomb</string>
    <string>arrowheadrightbelowcomb</string>
    <string>arrowheadrightheadupbelowcomb</string>
    <string>righthalfringabovecomb</string>
    <string>dotaboverightcomb</string>
    <string>asteriskbelowcomb</string>
    <string>doubleringbelowcomb</string>
    <string>zigzagabovecomb</string>
    <string>doublebrevebelowcomb</string>
    <string>doublebrevecomb</string>
    <string>doublemacroncomb</string>
    <string>doublemacronbelowcomb</string>
    <string>tildedoublecomb</string>
    <string>breveinverteddoublecomb</string>
    <string>arrowdoublerightbelowcomb</string>
    <string>acomb</string>
    <string>ecomb</string>
    <string>icomb</string>
    <string>ocomb</string>
    <string>ucomb</string>
    <string>ccomb</string>
    <string>dcomb</string>
    <string>hcomb</string>
    <string>mcomb</string>
    <string>rcomb</string>
    <string>tcomb</string>
    <string>vcomb</string>
    <string>xcomb</string>
  </array>
</dict>
</plist>
